{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  keycloak:
    {{ lookup('container_image', application_id, 'keycloak') }}
    {{ lookup('compose_only', 'container_name', KEYCLOAK_CONTAINER) }}
    hostname: {{ KEYCLOAK_CONTAINER_HOSTNAME }}
    command: start{% if KEYCLOAK_DEBUG_ENABLED %} --verbose{% endif %}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_ports', ['keycloak', 'http', DOCKER_BIND_HOST]) | indent(4) }}
    {{ lookup('container_volumes', application_id, 'keycloak') | indent(4) }}
    {{ lookup('container_depends_on', application_id) | indent(4) }}
    {{ lookup('container_networks') | indent(4) }}
{% set container_port = 9000 %}
{% set container_healthcheck = 'health/live' %}
{% include 'roles/sys-svc-container/templates/healthcheck/tcp.yml.j2' %}

{{ lookup('compose_volumes', application_id,
) }}

{{ lookup('compose_networks') }}
