window.__INFINITO_LOGOUT__ = {
  origin: {{ lookup('tls', 'web-svc-logout', 'url.base') | regex_replace('/$', '') | to_json }},
  i18n: {{ lookup('i18n_catalogue', 'logout', 'roles/web-app-keycloak/files/logout_i18n.yml') | to_json }}
};
{{ lookup('file', application_id | abs_role_path_by_application_id ~ '/files/javascript/logout-panel.js') }}
