:root{
{% for black, step in [(100, 50), (150, 100), (200, 200), (300, 300), (400, 400), (500, 500), (600, 600), (700, 700), (800, 800), (850, 900), (900, 900), (1000, 950)] %}
  --pf-v5-global--palette--black-{{ black }}: var(--design-neutral-{{ step }});
{% endfor %}
  --pf-v5-global--palette--white:      var(--design-surface-2);
  --pf-v5-global--BackgroundColor--100:              var(--design-surface-2);
  --pf-v5-global--BackgroundColor--150:              var(--design-primary-100);
  --pf-v5-global--BackgroundColor--200:              var(--design-primary-200);
  --pf-v5-global--BackgroundColor--300:              var(--design-primary-400);
  --pf-v5-global--BackgroundColor--400:              var(--design-primary-500);
  --pf-v5-global--BackgroundColor--light-100:        var(--design-surface-2);
  --pf-v5-global--BackgroundColor--light-200:        var(--design-primary-100);
  --pf-v5-global--BackgroundColor--light-300:        var(--design-primary-200);
  --pf-v5-global--BackgroundColor--dark-100:         var(--design-primary-950);
  --pf-v5-global--BackgroundColor--dark-200:         var(--design-primary-950);
  --pf-v5-global--BackgroundColor--dark-300:         var(--design-primary-950);
  --pf-v5-global--BackgroundColor--dark-400:         var(--design-primary-900);
  --pf-v5-global--BackgroundColor--dark-transparent-100: rgba(var(--design-primary-950-rgb),0.7);
  --pf-v5-global--BackgroundColor--dark-transparent-200: rgba(var(--design-primary-950-rgb),0.8);
  --pf-v5-global--color-01--100:           var(--design-primary-950);
  --pf-v5-global--color-01--200:           var(--design-primary-800);
  --pf-v5-global--color-01--300:           var(--design-primary-950);
  --pf-v5-global--color-01--400:           var(--design-primary-600);
  --pf-v5-global--color-01--light-100:     var(--design-surface-2);
  --pf-v5-global--color-01--light-200:     var(--design-primary-200);
  --pf-v5-global--color-01--light-300:     var(--design-primary-400);
  --pf-v5-global--color-01--dark-100:      var(--design-primary-950);
  --pf-v5-global--color-01--dark-200:      var(--design-primary-800);
  --pf-v5-global--active-color--100:    var(--design-primary-500);
  --pf-v5-global--active-color--200:    var(--design-primary-100);
  --pf-v5-global--active-color--300:    var(--design-primary-400);
  --pf-v5-global--active-color--400:    var(--design-primary-200);
  --pf-v5-global--disabled-color--100:  var(--design-primary-800);
  --pf-v5-global--disabled-color--200:  var(--design-primary-400);
  --pf-v5-global--disabled-color--300:  var(--design-primary-200);
  --pf-v5-global--primary-color--100:   var(--design-primary-500);
  --pf-v5-global--primary-color--200:   var(--design-primary-800);
  --pf-v5-global--primary-color--light-100: var(--design-primary-400);
  --pf-v5-global--primary-color--dark-100:  var(--design-primary-500);
  --pf-v5-global--secondary-color--100: var(--design-primary-800);
  --pf-v5-global--custom-color--100:    var(--design-primary-500);
  --pf-v5-global--custom-color--200:    var(--design-primary-500);
  --pf-v5-global--custom-color--300:    var(--design-primary-900);
  --pf-v5-global--link--Color:                  var(--design-primary-500);
  --pf-v5-global--link--color-01--hover:           var(--design-primary-800);
  --pf-v5-global--link--color-01--light:           var(--design-primary-400);
  --pf-v5-global--link--color-01--light--hover:    var(--design-primary-200);
  --pf-v5-global--link--color-01--dark:            var(--design-primary-500);
  --pf-v5-global--link--color-01--dark--hover:     var(--design-primary-800);
  --pf-v5-global--link--color-01--visited:         var(--design-primary-800);
  --pf-v5-global--BorderColor--100:             var(--design-primary-400);
  --pf-v5-global--BorderColor--200:             var(--design-primary-600);
  --pf-v5-global--BorderColor--300:             var(--design-primary-200);
  --pf-v5-global--BorderColor--400:             var(--design-primary-500);
  --pf-v5-global--BorderColor--dark-100:        var(--design-primary-400);
  --pf-v5-global--BorderColor--light-100:       var(--design-primary-500);
  --pf-v5-global--icon--color-01--light:          var(--design-primary-800);
  --pf-v5-global--icon--color-01--dark:           var(--design-primary-950);
  --pf-v5-global--icon--color-01--light--light:   var(--design-primary-200);
  --pf-v5-global--icon--color-01--dark--light:    var(--design-surface-2);
  --pf-v5-global--icon--color-01--light--dark:    var(--design-primary-800);
  --pf-v5-global--icon--color-01--dark--dark:     var(--design-primary-950);
}
.pf-v5-c-button.pf-m-tertiary {
    --pf-v5-c-button--m-tertiary--BackgroundColor: var(--design-primary-400);
    background-color: var(--pf-v5-c-button--m-tertiary--BackgroundColor); 
}
/* Additional Keykloak Configuration */
a.pf-v5-c-nav__link{
    --pf-v5-c-nav__link--BackgroundColor: rgba(var(--design-primary-600-rgb), 0.4);
}
/* Keycloak */
div#app header{
    background-color: var(--design-primary-500);
    background: linear-gradient(135deg, var(--design-primary-600), var(--design-primary-500), var(--design-primary-500), var(--design-primary-500));
    color: var(--design-surface-2);
}
