[app]
address = "0.0.0.0:{{ container_port }}"

[db]
host = "{{ lookup('database', application_id, 'host') }}"
port = {{ lookup('database', application_id, 'port') }}
user = "{{ lookup('database', application_id, 'username') }}"
password = "{{ lookup('database', application_id, 'password') }}"

database = "{{ lookup('database', application_id, 'name') }}"

ssl_mode = "disable"
max_open = {{ POSTGRES_ALLOWED_AVG_CONNECTIONS }}
max_idle = {{ ( POSTGRES_ALLOWED_AVG_CONNECTIONS | int // 2 ) }}
max_lifetime = "300s"

params = ""
