{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  {{ SNIPE_IT_SERVICE }}:
{% set container_port = 80 %}
    image: "{{ SNIPE_IT_IMAGE }}:{{ SNIPE_IT_VERSION }}"
    {{ lookup('compose_only', 'container_name', SNIPE_IT_CONTAINER) }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_volumes', application_id, SNIPE_IT_SERVICE) | indent(4) }}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.snipe-it.ports.local.http') }}:{{ container_port }}"
{{ lookup('container_depends_on', application_id) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
    healthcheck:
      test:
        - CMD
        - wget
        - -q
        - -O-
        - http://localhost/
      interval: 10s
      timeout: 5s
      retries: 12
      start_period: 60s

{{ lookup('compose_volumes', application_id) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
