<page xmlns="http://www.xwiki.org">
  <title>InstallExtensions</title>
  <content><![CDATA[
  {% raw %}{{groovy}}{% endraw %}
  {{ _install_code | indent(8, False) }}
  {% raw %}{{/groovy}}{% endraw %}
  ]]></content>
  <syntax>xwiki/2.1</syntax>
</page>
