CDN_TEST_DOMAIN={{ domain }}
CDN_TEST_FLAVOR={{ CDN_FLAVOR }}
CDN_TEST_IS_STACK_HOST={{ IS_STACK_HOST | bool | lower }}
CDN_TEST_STACK_DIR={{ lookup('container', 'web-svc-cdn', 'directories.instance') }}
CDN_TEST_WEB_ROOT={{ lookup('nginx', 'directories.data.cdn') }}
