{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  {{ OPENLDAP_SERVICE }}:
    build:
      context: "."
      dockerfile: Dockerfile
      args:
        OPENLDAP_IMAGE: "{{ OPENLDAP_IMAGE }}"
        OPENLDAP_VERSION: "{{ OPENLDAP_VERSION }}"
    {{ lookup('container_image', application_id, 'openldap', custom=True) }}
    {{ lookup('compose_only', 'container_name', OPENLDAP_CONTAINER) }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}

{% if OPENLDAP_NETWORK_EXPOSE_LOCAL | bool %}
    {{ lookup('container_ports', ['openldap', 'ldap', DOCKER_BIND_HOST]) | indent(4) }}
{% endif %}

    {{ lookup('container_volumes', application_id, OPENLDAP_SERVICE) | indent(4) }}

    {{ lookup('container_networks') | indent(4) }}

{{ lookup('compose_volumes', application_id) }}

{{ lookup('compose_networks') }}
