{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  {{ OPENLDAP_SERVICE }}:
    build:
      context: "."
      dockerfile: Dockerfile
      args:
        OPENLDAP_IMAGE: "{{ OPENLDAP_IMAGE }}"
        OPENLDAP_VERSION: "{{ OPENLDAP_VERSION }}"
    image: "{{ OPENLDAP_IMAGE_CUSTOM }}"
    {{ lookup('compose_only', 'container_name', OPENLDAP_CONTAINER) }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}

{% if OPENLDAP_NETWORK_EXPOSE_LOCAL | bool %}
    ports:
      - {{ DOCKER_BIND_HOST }}:{{lookup('config', 'svc-db-openldap', 'services.openldap.ports.local.ldap')}}:{{ OPENLDAP_DOCKER_PORT_OPEN }}
{% endif %}

    {{ lookup('container_volumes', application_id, OPENLDAP_SERVICE) | indent(4) }}

{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{{ lookup('compose_volumes', application_id) }}

{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
