BIND_DN_B64={{ OPENLDAP_BIND_DN | b64encode }}
DB_CONTAINER={{ OPENLDAP_CONTAINER_ADDRESS }}
DB_PASSWORD_B64={{ OPENLDAP_BIND_PW | b64encode }}
DB_PORT={{ OPENLDAP_PORT }}
ONION_HOST={{ lookup('config', 'svc-net-tor', 'services.tor.node') }}
TOR_ENABLED={{ lookup('tor_reachable', application_id) | lower }}
TOR_SOCKS={{ lookup('tor_socks') }}
