TOR_ENABLED={{ lookup('config', application_id, 'services.tor.enabled') | bool | lower }}
TOR_SOCKS={{ lookup('tor_socks') }}
ONION_HOST={{ lookup('config', 'svc-net-tor', 'services.tor.node') }}
DB_PORT={{ OPENLDAP_PORT }}
DB_CONTAINER={{ OPENLDAP_CONTAINER }}
BIND_DN_B64={{ OPENLDAP_BIND_DN | b64encode }}
DB_PASSWORD_B64={{ OPENLDAP_BIND_PW | b64encode }}
