{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  {% set service_name = 'tor' %}
  {{ service_name }}:
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('template', 'roles/sys-svc-container/templates/build.yml.j2') | indent(4) }}
      args:
        TOR_BASE_IMAGE:   "{{ TOR_IMAGE }}"
        TOR_BASE_VERSION: "{{ TOR_VERSION }}"
    {{ lookup('compose_only', 'container_name', TOR_CONTAINER) }}
    {{ lookup('container_image', application_id, 'tor') }}
    {% if DEPLOYMENT_MODE == 'swarm' %}
    ports:
      - target: {{ TOR_SOCKS_PORT }}
        published: {{ TOR_SOCKS_PORT }}
        protocol: tcp
        mode: host
    {{ lookup('container_networks') | indent(4) }}
    {% else %}
    network_mode: "host"
    {% endif %}
    {{ lookup('container_volumes', application_id, 'tor') | indent(4) }}
    healthcheck:
      test: ["CMD", "tor", "--verify-config", "-f", "/etc/tor/torrc"]
      interval: 60s
      timeout: 10s
      retries: 3

{{ lookup('compose_volumes', application_id) }}
{{ lookup('compose_networks') }}
