BONSAI_EXPECTED={{ blender_bonsai_enabled | string | lower }}
BONSAI_EXTENSION_ID={{ blender_bonsai_extension_id }}
MCP_CLAUDE_EXPECTED={{ blender_mcp_claude_enabled | string | lower }}
MCP_CLAUDE_REGISTRY={{ blender_claude_registry }}
MCP_CODE_BINARY={{ blender_mcp_code_binary }}
MCP_CODE_EXPECTED={{ blender_mcp_code_enabled | string | lower }}
MCP_SERVER_COMMAND={{ blender_mcp_bin }}
MCP_SERVER_NAME={{ blender_mcp_server_name }}
MCP_USER_HOME={{ blender_home }}
