{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  logout:
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_image', application_id, 'logout') }}
    {{ lookup('compose_only', 'container_name', LOGOUT_CONTAINER) }}
    {{ lookup('container_ports', ['logout', 'http', DOCKER_BIND_HOST]) | indent(4) }}
    {{ lookup('container_networks') | indent(4) }}
{% include 'roles/sys-svc-container/templates/healthcheck/tcp.yml.j2' %}

{{ lookup('compose_volumes', application_id) }}

{{ lookup('compose_networks') }}
