{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
{% set service_name = 'ejabberd' %}
  {{ service_name }}:
    image: "{{ EJABBERD_IMAGE }}:{{ EJABBERD_VERSION }}"
    {{ lookup('compose_only', 'container_name', EJABBERD_CONTAINER) }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.xmpp.ports.local.http') }}:5280"
      - "5222:5222"
      - "5269:5269"
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{{ lookup('compose_volumes', application_id) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
