{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  openwebui:
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    image: {{ OPENWEBUI_IMAGE }}:{{ OPENWEBUI_VERSION }}
    {{ lookup('compose_only', 'container_name', OPENWEBUI_CONTAINER) }}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ OPENWEBUI_PORT_PUBLIC }}:8080"
    {{ lookup('container_volumes', application_id, 'openwebui') | indent(4) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}

{{ lookup('compose_volumes', application_id) }}
