{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  application:
    image: "{{ OPENTALK_FRONTEND_IMAGE }}:{{ OPENTALK_FRONTEND_VERSION }}"
    {{ lookup('compose_only', 'container_name', OPENTALK_FRONTEND_CONTAINER) }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ OPENTALK_FRONTEND_HTTP_PORT }}:80"
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
    {{ lookup('depends_on', {'controller': 'service_started'}) }}

  controller:
    image: "{{ OPENTALK_CTRL_IMAGE }}:{{ OPENTALK_CTRL_VERSION }}"
    {{ lookup('compose_only', 'container_name', OPENTALK_CTRL_CONTAINER) }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ OPENTALK_CTRL_HTTP_PORT }}:11311"
    {{ lookup('container_volumes', application_id, 'controller') | indent(4) }}
{{ lookup('container_depends_on', application_id) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{% set service_name = 'livekit' %}
  {{ service_name }}:
{% include 'roles/sys-svc-container/templates/deploy.yml.j2' %}
    image: "{{ OPENTALK_LIVEKIT_IMAGE }}:{{ OPENTALK_LIVEKIT_VERSION }}"
    {{ lookup('compose_only', 'container_name', OPENTALK_LIVEKIT_CONTAINER) }}
    {{ lookup('compose_restart') }}
    # nocheck: network-mode-host-without-swarm-gate
    network_mode: host
    command:
      - --config
      - /etc/livekit/livekit.yaml
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
    logging:
      driver: journald

{% set service_name = 'minio' %}
  {{ service_name }}:
{% include 'roles/sys-svc-container/templates/deploy.yml.j2' %}
    image: "{{ OPENTALK_MINIO_IMAGE }}:{{ OPENTALK_MINIO_VERSION }}"
    {{ lookup('compose_only', 'container_name', OPENTALK_MINIO_CONTAINER) }}
    {{ lookup('compose_restart') }}
    command: ["server", "/data"]
    environment:
      MINIO_ROOT_USER: "{{ OPENTALK_MINIO_USER }}"
      MINIO_ROOT_PASSWORD: "{{ OPENTALK_MINIO_PASSWORD }}"
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
    logging:
      driver: journald

{% set service_name = 'rabbit' %}
  {{ service_name }}:
{% include 'roles/sys-svc-container/templates/deploy.yml.j2' %}
    image: "{{ OPENTALK_RABBIT_IMAGE }}:{{ OPENTALK_RABBIT_VERSION }}"
    {{ lookup('compose_only', 'container_name', OPENTALK_RABBIT_CONTAINER) }}
    {{ lookup('compose_restart') }}
    environment:
      RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS: "-rabbit consumer_timeout 30000"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
    logging:
      driver: journald

{% set service_name = 'recorder' %}
  {{ service_name }}:
{% include 'roles/sys-svc-container/templates/deploy.yml.j2' %}
    image: "{{ OPENTALK_RECORDER_IMAGE }}:{{ OPENTALK_RECORDER_VERSION }}"
    {{ lookup('compose_only', 'container_name', OPENTALK_RECORDER_CONTAINER) }}
    {{ lookup('compose_restart') }}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
    {{ lookup('depends_on', {'rabbit': 'service_healthy', 'controller': 'service_started'}) }}
    logging:
      driver: journald

{{ lookup('compose_volumes', application_id) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
