{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  {% set service_name = 'opentalk' %}
  {{ service_name }}:
    {{ lookup('container_image', application_id, 'opentalk') }}
    {{ lookup('compose_only', 'container_name', OPENTALK_FRONTEND_CONTAINER) }}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_ports', ['opentalk', 'http', DOCKER_BIND_HOST]) | indent(4) }}
    {{ lookup('container_networks') | indent(4) }}
    {{ lookup('depends_on', {'controller': 'service_started'}) }}

  {% set service_name = 'controller' %}
  {{ service_name }}:
    {{ lookup('container_image', application_id, 'controller') }}
    {{ lookup('compose_only', 'container_name', OPENTALK_CTRL_CONTAINER) }}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_ports', ['controller', 'http', DOCKER_BIND_HOST]) | indent(4) }}
    {{ lookup('container_volumes', application_id, 'controller') | indent(4) }}
    {{ lookup('container_depends_on', application_id) | indent(4) }}
    {{ lookup('container_networks') | indent(4) }}

  {% set service_name = 'livekit' %}
  {{ service_name }}:
    {% include 'roles/sys-svc-container/templates/deploy.yml.j2' %}
    {{ lookup('container_image', application_id, 'livekit') }}
    {{ lookup('compose_only', 'container_name', OPENTALK_LIVEKIT_CONTAINER) }}
    {{ lookup('compose_restart') }}
    # nocheck: network-mode-host-without-swarm-gate
    network_mode: host
    command:
      - --config
      - /etc/livekit/livekit.yaml
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
    logging:
      driver: journald

  {% set service_name = 'rabbit' %}
  {{ service_name }}:
    {% include 'roles/sys-svc-container/templates/deploy.yml.j2' %}
    {{ lookup('container_image', application_id, 'rabbit') }}
    {{ lookup('compose_only', 'container_name', OPENTALK_RABBIT_CONTAINER) }}
    {{ lookup('compose_restart') }}
    environment:
      RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS: "-rabbit consumer_timeout 30000"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
    {{ lookup('container_networks') | indent(4) }}
    logging:
      driver: journald

  {% set service_name = 'recorder' %}
  {{ service_name }}:
    {% include 'roles/sys-svc-container/templates/deploy.yml.j2' %}
    {{ lookup('container_image', application_id, 'recorder') }}
    {{ lookup('compose_only', 'container_name', OPENTALK_RECORDER_CONTAINER) }}
    {{ lookup('compose_restart') }}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
    {{ lookup('container_networks') | indent(4) }}
    {{ lookup('depends_on', {'rabbit': 'service_healthy', 'controller': 'service_started'}) }}
    logging:
      driver: journald

{{ lookup('compose_volumes', application_id) }}
{{ lookup('compose_networks') }}
