# OpenTalk controller configuration.
# Reference: https://docs.opentalk.eu/admin/controller/core/configuration/

[frontend]
base_url = "{{ OPENTALK_URL }}"

[http]
port = {{ OPENTALK_CTRL_INTERNAL_PORT }}
service_api_keys = [{ "id" = "controller", "secret" = "{{ lookup('config', application_id, 'credentials.service_api_secret') }}" }]

[database]
url = "postgres://{{ lookup('database', application_id, 'username') }}:{{ lookup('database', application_id, 'password') }}@{{ lookup('database', application_id, 'host') }}:{{ lookup('database', application_id, 'port') }}/{{ lookup('database', application_id, 'name') }}"
max_connections = 100

[oidc]
authority = "{{ OIDC.CLIENT.ISSUER_URL }}"

[oidc.frontend]
client_id = "{{ OIDC.CLIENT.ID }}"

[oidc.controller]
client_id = "{{ OPENTALK_CTRL_OIDC_CLIENT_ID }}"
client_secret = "{{ OPENTALK_CTRL_OIDC_CLIENT_SECRET }}"

[user_search]
backend = "keycloak_webapi"
api_base_url = "{{ OPENTALK_KEYCLOAK_BASE_URL }}/admin/realms/{{ OPENTALK_KEYCLOAK_REALM }}"
client_id = "{{ OPENTALK_KEYCLOAK_CLIENT_ID }}"
client_secret = "{{ OPENTALK_KEYCLOAK_CLIENT_SECRET }}"
users_find_behavior = "from_user_search_backend"

[roomserver]
kind = "internal"

[roomserver.modules]
[roomserver.modules.livekit]
public_url = "wss://{{ OPENTALK_DOMAIN }}/livekit"
service_url = "http://livekit:{{ OPENTALK_LIVEKIT_HTTP_PORT }}"
api_key = "{{ OPENTALK_LIVEKIT_API_KEY }}"
api_secret = "{{ OPENTALK_LIVEKIT_API_SECRET }}"
[roomserver.modules.echo]
[roomserver.modules.chat]
[roomserver.modules.polls]
[roomserver.modules.timer]

[redis]
url = "{{ lookup('engine', 'redis', application_id, 'url') }}"

[minio]
uri = "{{ lookup('objstore', application_id, 'url') }}"
bucket = "{{ lookup('objstore', application_id, 'bucket') }}"
access_key = "{{ lookup('objstore', application_id, 'access_key') }}"
secret_key = "{{ lookup('objstore', application_id, 'secret_key') }}"

[rabbit_mq]
url = "amqp://guest:guest@rabbit/%2F"
mail_task_queue = "opentalk_mailer"
recording_task_queue = "{{ OPENTALK_RABBIT_QUEUE }}"

