# OpenTalk recorder configuration.
# Reference: https://docs.opentalk.eu/admin/recorder/configuration/

[controller]
url = "http://controller:{{ OPENTALK_CTRL_INTERNAL_PORT }}"
api_key = { id = "{{ OPENTALK_CTRL_SERVICE_API_KEY_ID }}", secret = "{{ OPENTALK_CTRL_SERVICE_API_SECRET }}" }

[http]
port = {{ OPENTALK_RECORDER_HTTP_PORT }}
api_keys = [{ id = "{{ OPENTALK_RECORDER_API_KEY_ID }}", secret = "{{ OPENTALK_RECORDER_API_SECRET }}" }]
