CANONICAL_DOMAIN={{ lookup('domain', application_id) | dotenv_quote }}

LITELLM_UI_BASE_URL={{ lookup('tls', application_id, 'url.base') | dotenv_quote }}

PERSONA_ADMINISTRATOR_BLOCKED=true

PERSONA_BIBER_BLOCKED=true
