{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  fusiondirectory:
    image: "{{ FUSIONDIRECTORY_IMAGE }}:{{ FUSIONDIRECTORY_VERSION }}"
    {{ lookup('compose_only', 'container_name', FUSIONDIRECTORY_CONTAINER) }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.fusiondirectory.ports.local.http') }}:80"
{{ lookup('container_volumes', application_id, 'fusiondirectory') | indent(4) }}
{% include 'roles/sys-svc-container/templates/healthcheck/curl.yml.j2' %}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{{ lookup('compose_volumes', application_id) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
