{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  fusiondirectory:
    {{ lookup('container_image', application_id, 'fusiondirectory') }}
    {{ lookup('compose_only', 'container_name', FUSIONDIRECTORY_CONTAINER) }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_ports', ['fusiondirectory', 'http', DOCKER_BIND_HOST]) | indent(4) }}
{{ lookup('container_volumes', application_id, 'fusiondirectory') | indent(4) }}
{% include 'roles/sys-svc-container/templates/healthcheck/curl.yml.j2' %}
    {{ lookup('container_networks') | indent(4) }}

{{ lookup('compose_volumes', application_id) }}
{{ lookup('compose_networks') }}
