server:
  verbosity: 1
  interface: 0.0.0.0
  logfile: ""
  do-ip4: yes
  do-ip6: no
  do-udp: yes
  do-tcp: yes
  do-daemonize: no
{% for _cidr in NETWORK_INTERNAL_CIDRS %}
  access-control: {{ _cidr }} allow
{% endfor %}
  directory: "{{ lookup('volume', 'svc-dns-unbound', 'data').target }}"
  username: unbound
  auto-trust-anchor-file: trusted-key.key
  root-hints: "/etc/unbound/root.hints"
  hide-identity: yes
  hide-version: yes
  cache-min-ttl: 300
{% if UNBOUND_ONION_FORWARD_ADDR | length > 0 %}
  domain-insecure: "onion."
{% endif %}

remote-control:
  control-enable: yes
  control-interface: /run/unbound.control.sock
{% if UNBOUND_FORWARD_DNS | bool %}

forward-zone:
  name: "."
{% for resolver in NETWORK_PUBLIC_DNS_RESOLVERS %}
  forward-addr: {{ resolver }}
{% endfor %}
{% endif %}
{% if UNBOUND_ONION_FORWARD_ADDR | length > 0 %}

forward-zone:
  name: "onion."
  forward-addr: {{ UNBOUND_ONION_FORWARD_ADDR }}
{% endif %}
