{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  {{ LIBRETRANSLATE_SERVICE }}:
    {{ lookup('container_image', application_id, 'libretranslate') }}
    volumes: []
    {{ lookup('container_ports', ['libretranslate', 'http', DOCKER_BIND_HOST]) | indent(4) }}
{% include 'roles/sys-svc-container/templates/healthcheck/curl.yml.j2' %}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_networks') | indent(4) }}

{{ lookup('compose_volumes', application_id,
) }}

{{ lookup('compose_networks') }}
