{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
{% set service_name = 'dashboard' %}
  {{ service_name }}:
{% include 'roles/sys-svc-container/templates/deploy.yml.j2' %}
{% set container_port = 5000 %}
    image: {{ DASHBOARD_IMAGE }}:{{ DASHBOARD_VERSION }}
    {{ lookup('compose_only', 'container_name', DASHBOARD_CONTAINER) }}
    ports:
      - {{ DOCKER_BIND_HOST }}:{{ http_port }}:{{ container_port }}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
    {{ lookup('compose_restart') }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
{% include 'roles/sys-svc-container/templates/healthcheck/tcp.yml.j2' %}

{{ lookup('compose_volumes', application_id) }}

{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
