<link rel="stylesheet" href="{{ [ lookup('cdn', 'web-svc-cdn').urls.shared.css, 'layer.css', lookup('local_mtime_qs', [lookup('path_absolute', 'roles', 'sys-front-inj-design', 'templates', 'css'), 'layer.css.j2'] | path_join)] | url_join }}">
