{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  {{ MAILU_FRONT_SERVICE }}:
{% set service_name = MAILU_FRONT_SERVICE %}
    {{ lookup('compose_only', 'container_name', MAILU_FRONT_CONTAINER_ADDRESS) }}
    {{ lookup('container_image', application_id, 'front', image=MAILU_DOCKER_FLAVOR ~ '/nginx', version=MAILU_VERSION) }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_ports',
              ['mailu', 'http', DOCKER_BIND_HOST],
              ['mailu', 'smtp', MAILU_IP4_PUBLIC],
              ['mailu', 'smtps', MAILU_IP4_PUBLIC],
              ['mailu', 'submission', MAILU_IP4_PUBLIC],
              ['mailu', 'pop3', MAILU_IP4_PUBLIC],
              ['mailu', 'pop3s', MAILU_IP4_PUBLIC],
              ['mailu', 'imap', MAILU_IP4_PUBLIC],
              ['mailu', 'imaps', MAILU_IP4_PUBLIC],
              ['mailu', 'sieve', MAILU_IP4_PUBLIC]) | indent(4) }}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
    {{ lookup('container_depends_on', application_id) | indent(4) }}
    {{ lookup('container_networks') | indent(4) }}
{% if DEPLOYMENT_MODE == 'compose' %}
      webmail:
      radicale:
    dns:
      - {{ MAILU_DNS_RESOLVER }}
{% endif %}

  admin:
{% set service_name = 'admin' %}
    {{ lookup('compose_only', 'container_name', MAILU_ADMIN_CONTAINER_ADDRESS) }}
    {{ lookup('container_image', application_id, 'admin', image=MAILU_DOCKER_FLAVOR ~ '/admin', version=MAILU_VERSION) }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
    {{ lookup('container_depends_on', application_id, extra={
  'front': {'condition': 'service_started'},
}) | indent(4) }}
{% if DEPLOYMENT_MODE == 'compose' %}
    dns:
      - {{ MAILU_DNS_RESOLVER }}
{% else %}
    dns:
{% for resolver in NETWORK_PUBLIC_DNS_RESOLVERS %}
      - {{ resolver }}
{% endfor %}
{% endif %}

{% if ( ( DOCKER_IN_CONTAINER | bool ) and ( MAILU_OIDC_ENABLED | bool ) ) or DEPLOYMENT_MODE == 'swarm' %}
    extra_hosts:
{% if ( DOCKER_IN_CONTAINER | bool ) and ( MAILU_OIDC_ENABLED | bool ) %}
      - "{{ MAILU_OIDC_HOST }}:host-gateway"
{% endif %}
{% if DEPLOYMENT_MODE == 'swarm' %}
      - "{{ MAILU_SWARM_DB_HOST }}:{{ MAILU_SWARM_DB_ADDR }}"
      - "{{ MAILU_SWARM_REDIS_HOST }}:{{ MAILU_SWARM_REDIS_ADDR }}"
{% endif %}
{% endif %}

    {{ lookup('container_networks') | indent(4) }}

  imap:
{% set service_name = 'imap' %}
    {{ lookup('compose_only', 'container_name', MAILU_IMAP_CONTAINER_ADDRESS) }}
    {{ lookup('container_image', application_id, 'imap', image=MAILU_DOCKER_FLAVOR ~ '/dovecot', version=MAILU_VERSION) }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
    {{ lookup('depends_on', ['front']) }}
{% if DEPLOYMENT_MODE == 'compose' %}
    dns:
      - {{ MAILU_DNS_RESOLVER }}
{% endif %}
    {{ lookup('container_networks') | indent(4) }}

  smtp:
{% set service_name = 'smtp' %}
    {{ lookup('compose_only', 'container_name', MAILU_SMTP_CONTAINER_ADDRESS) }}
    {{ lookup('container_image', application_id, 'smtp', image=MAILU_DOCKER_FLAVOR ~ '/postfix', version=MAILU_VERSION) }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
    {{ lookup('depends_on', ['front']) }}
{% if DEPLOYMENT_MODE == 'compose' %}
    dns:
      - {{ MAILU_DNS_RESOLVER }}
{% endif %}
    {{ lookup('container_networks') | indent(4) }}

  oletools:
{% set service_name = 'oletools' %}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('compose_only', 'container_name', MAILU_OLETOOLS_CONTAINER_ADDRESS) }}
    {{ lookup('container_image', application_id, 'oletools', image=MAILU_DOCKER_FLAVOR ~ '/oletools', version=MAILU_VERSION) }}
    hostname: oletools
{% if DEPLOYMENT_MODE == 'compose' %}
    dns:
      - {{ MAILU_DNS_RESOLVER }}
{% endif %}
    {{ lookup('container_networks') | indent(4) }}
{% if DEPLOYMENT_MODE == 'compose' %}
      noinet:
{% endif %}

  antispam:
{% set service_name = 'antispam' %}
    {{ lookup('compose_only', 'container_name', MAILU_ANTISPAM_CONTAINER_ADDRESS) }}
    {{ lookup('container_image', application_id, 'antispam', image=MAILU_DOCKER_FLAVOR ~ '/rspamd', version=MAILU_VERSION) }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
    {{ lookup('depends_on', ['front', 'antivirus'] + (['redis'] if lookup('engine', 'redis', application_id, 'local') else [])) }}
{% if DEPLOYMENT_MODE == 'compose' %}
    dns:
      - {{ MAILU_DNS_RESOLVER }}
{% endif %}
    {{ lookup('container_networks') | indent(4) }}
{% if DEPLOYMENT_MODE == 'compose' %}
      noinet:
{% endif %}

  antivirus:
{% set service_name = 'antivirus' %}
    {{ lookup('compose_only', 'container_name', MAILU_ANTIVIRUS_CONTAINER_ADDRESS) }}
    {{ lookup('container_image', application_id, 'antivirus') }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
{% if DEPLOYMENT_MODE == 'compose' %}
    dns:
      - {{ MAILU_DNS_RESOLVER }}
{% endif %}
    {{ lookup('container_networks') | indent(4) }}

  webdav:
{% set service_name = 'webdav' %}
    {{ lookup('compose_only', 'container_name', MAILU_WEBDAV_CONTAINER_ADDRESS) }}
    {{ lookup('container_image', application_id, 'webdav', image=MAILU_DOCKER_FLAVOR ~ '/radicale', version=MAILU_VERSION) }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
{% if DEPLOYMENT_MODE == 'compose' %}
    dns:
      - {{ MAILU_DNS_RESOLVER }}
{% endif %}
    {{ lookup('container_networks') | indent(4) }}
{% if DEPLOYMENT_MODE == 'compose' %}
      radicale:
{% endif %}

  fetchmail:
{% set service_name = 'fetchmail' %}
    {{ lookup('compose_only', 'container_name', MAILU_FETCHMAIL_CONTAINER_ADDRESS) }}
    {{ lookup('container_image', application_id, 'fetchmail', image=MAILU_DOCKER_FLAVOR ~ '/fetchmail', version=MAILU_VERSION) }}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('depends_on', ['admin', 'smtp', 'imap']) }}
{% if DEPLOYMENT_MODE == 'compose' %}
    dns:
      - {{ MAILU_DNS_RESOLVER }}
{% endif %}
    {{ lookup('container_networks') | indent(4) }}

  webmail:
{% set service_name = 'webmail' %}
    {{ lookup('compose_only', 'container_name', MAILU_WEBMAIL_CONTAINER_ADDRESS) }}
    {{ lookup('container_image', application_id, 'webmail', image=MAILU_DOCKER_FLAVOR ~ '/webmail', version=MAILU_VERSION) }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
    {{ lookup('depends_on', ['imap', 'front']) }}
{% if DEPLOYMENT_MODE == 'compose' %}
    dns:
      - {{ MAILU_DNS_RESOLVER }}
{% endif %}
    {{ lookup('container_networks') | indent(4) }}
{% if DEPLOYMENT_MODE == 'compose' %}
      webmail:
{% endif %}

{{ lookup('compose_volumes', application_id,
    extra_volumes={'admin_data': {'name': MAILU_ADMIN_DATA_VOLUME}, 'clamav_db': {'name': MAILU_CLAMAV_DB_VOLUME}, 'dkim': {'name': MAILU_DKIM_VOLUME}, 'dovecot_mail': {'name': MAILU_DOVECOT_MAIL_VOLUME}, 'filter': {'name': MAILU_FILTER_VOLUME}, 'smtp_queue': {'name': MAILU_SMTP_QUEUE_VOLUME}, 'webdav_data': {'name': MAILU_WEBDAV_DATA_VOLUME}, 'webmail_data': {'name': MAILU_WEBMAIL_DATA_VOLUME}}
) }}
{{ lookup('compose_networks') }}
{% if DEPLOYMENT_MODE == 'compose' %}
  radicale:
    driver: bridge
  webmail:
    driver: bridge
  noinet:
    driver: bridge
    internal: true
{% endif %}
