[class*=sidebar-dark-], .bg-mailu-logo {
    background-color: var(--design-primary-200);
    background: linear-gradient(135deg, var(--design-primary-200), var(--design-primary-200), var(--design-primary-100), var(--design-primary-100));
}

div.statusError {
    background-color: var(--design-primary-500);
    background: linear-gradient(135deg, var(--design-primary-600), var(--design-primary-500), var(--design-primary-500), var(--design-primary-500));
}

div.wrapper footer.main-footer, div.wrapper div.content-wrapper{
    background-color: var(--design-primary-200);
    background: linear-gradient(135deg, var(--design-primary-200), var(--design-primary-200), var(--design-primary-300), var(--design-primary-300));
    color: var(--design-primary-800);
}

html.dark-mode #layout-menu .special-buttons a:not(:focus) {
    background: none;
}

html.dark-mode #taskmenu a.selected, html.dark-mode .menu.toolbar a.selected {
    background-color: rgba(var(--design-primary-300-rgb), 0.5);
}

html.dark-mode .listing li.selected, html.dark-mode .listing li.selected>a, html.dark-mode .listing li.selected>div>a, html.dark-mode .listing tr.selected td {
    color: var(--design-primary-900);
    background-color: rgba(var(--design-primary-300-rgb), 0.5);
}

html.dark-mode .message-htmlpart {
    background-color: rgba(var(--design-surface-2-rgb), 0.08);
    color: var(--design-primary-950);
}
