{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  peertube:
{% set container_port = 9000 %}
    {{ lookup('container_image', application_id, 'peertube') }}
    {{ lookup('compose_only', 'container_name', PEERTUBE_CONTAINER) }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_ports',
              ['peertube', 'http', DOCKER_BIND_HOST],
              ['peertube', 'rtmp']) | indent(4) }}
    {{ lookup('container_volumes', application_id, 'peertube') | indent(4) }}
    environment:
      - NODE_OPTIONS=--max-old-space-size={{ PEERTUBE_MAX_OLD_SPACE_SIZE }}
      - PEERTUBE_TRANSCODING_CONCURRENCY={{ PEERTUBE_TRANSCODING_CONCURRENCY }}
    shm_size: "512m"
    tmpfs:
      - /tmp:size=1g,exec
    ulimits:
      nofile:
        soft: 131072
        hard: 131072
      nproc:  8192
    {{ lookup('container_depends_on', application_id) | indent(4) }}
    {{ lookup('container_networks') | indent(4) }}
{% include 'roles/sys-svc-container/templates/healthcheck/tcp.yml.j2' %}
{{ lookup('compose_volumes', application_id) }}
{{ lookup('compose_networks') }}
