body#custom-css {
    --mainColor: var(--color-01-60);
    --mainColorLighter: var(--color-01-70);
    --mainColorLightest: var(--color-01-90);
    --mainColorVeryLight: var(--color-01-95);
    --mainHoverColor: var(--color-01-64);
    --mainBackgroundHoverColor: var(--color-01-92);
    --mainBackgroundColor: var(--color-01-99);
    --mainForegroundColor: var(--color-01-10);
    --greyForegroundColor: var(--color-01-50);
    --greyBackgroundColor: var(--color-01-90);
    --greySecondaryBackgroundColor: var(--color-01-91);
    --menuBackgroundColor: var(--color-01-82);
    --menuForegroundColor: var(--color-01-99);
    --submenuBackgroundColor: var(--color-01-95);
    --channelBackgroundColor: var(--color-01-93);
    --inputForegroundColor: var(--color-01-10);
    --inputBackgroundColor: var(--color-01-99);
    --inputPlaceholderColor: var(--color-01-55);
    --inputBorderColor: var(--color-01-80);
    --textareaForegroundColor: var(--color-01-10);
    --textareaBackgroundColor: var(--color-01-99);
    --markdownTextareaBackgroundColor: var(--color-01-91);
    --actionButtonColor: var(--color-01-50);
    --supportButtonColor: var(--actionButtonColor);
    --activatedActionButtonColor: var(--color-01-10);
    color: var(--mainForegroundColor);
    background-color: var(--mainBackgroundColor);
}

div.searchbox input.autocomplete-input{
    background-position: 12px;
    background-repeat: no-repeat;
}

html[native-dark-active] my-app button, button {
    background-color: transparent;
}
