body#custom-css {
    --mainColor: var(--design-primary-500);
    --mainColorLighter: var(--design-primary-400);
    --mainColorLightest: var(--design-primary-200);
    --mainColorVeryLight: var(--design-primary-100);
    --mainHoverColor: var(--design-primary-500);
    --mainBackgroundHoverColor: var(--design-primary-100);
    --mainBackgroundColor: var(--design-surface-2);
    --mainForegroundColor: var(--design-primary-950);
    --greyForegroundColor: var(--design-primary-600);
    --greyBackgroundColor: var(--design-primary-200);
    --greySecondaryBackgroundColor: var(--design-primary-100);
    --menuBackgroundColor: var(--design-primary-300);
    --menuForegroundColor: var(--design-surface-2);
    --submenuBackgroundColor: var(--design-primary-100);
    --channelBackgroundColor: var(--design-primary-100);
    --inputForegroundColor: var(--design-primary-950);
    --inputBackgroundColor: var(--design-surface-2);
    --inputPlaceholderColor: var(--design-primary-600);
    --inputBorderColor: var(--design-primary-300);
    --textareaForegroundColor: var(--design-primary-950);
    --textareaBackgroundColor: var(--design-surface-2);
    --markdownTextareaBackgroundColor: var(--design-primary-100);
    --actionButtonColor: var(--design-primary-600);
    --supportButtonColor: var(--actionButtonColor);
    --activatedActionButtonColor: var(--design-primary-950);
    color: var(--mainForegroundColor);
    background-color: var(--mainBackgroundColor);
}

div.searchbox input.autocomplete-input{
    background-position: 12px;
    background-repeat: no-repeat;
}

html[native-dark-active] my-app button, button {
    background-color: transparent;
}
