{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  {{ JITSI_PROSODY_CONTAINER }}:
    {{ lookup('container_image', application_id, 'prosody') }}
    {{ lookup('compose_only', 'container_name', JITSI_PROSODY_CONTAINER) }}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    expose:
      - "5222"
      - "5347"
      - "5280"
    {{ lookup('container_volumes', application_id, JITSI_PROSODY_CONTAINER) | indent(4) }}
    {{ lookup('container_networks') | indent(4) }}

  {{ JITSI_JICOFO_CONTAINER }}:
    {{ lookup('container_image', application_id, 'jicofo') }}
    {{ lookup('compose_only', 'container_name', JITSI_JICOFO_CONTAINER) }}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('depends_on', {JITSI_PROSODY_CONTAINER: 'service_started'}) }}
    {{ lookup('container_volumes', application_id, JITSI_JICOFO_CONTAINER) | indent(4) }}
    {{ lookup('container_networks') | indent(4) }}

  {{ JITSI_JVB_CONTAINER }}:
    {{ lookup('container_image', application_id, 'jvb') }}
    {{ lookup('compose_only', 'container_name', JITSI_JVB_CONTAINER) }}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('depends_on', {JITSI_PROSODY_CONTAINER: 'service_started'}) }}
    ports:
      - "{{ JITSI_JVB_MEDIA_PORT }}:{{ JITSI_JVB_MEDIA_PORT }}/udp"  # nocheck: compose-ports-must-use-container-ports
    {{ lookup('container_volumes', application_id, JITSI_JVB_CONTAINER) | indent(4) }}
    {{ lookup('container_networks') | indent(4) }}

  {{ JITSI_WEB_CONTAINER }}:
    {{ lookup('container_image', application_id, 'jitsi') }}
    {{ lookup('compose_only', 'container_name', JITSI_WEB_CONTAINER) }}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('depends_on', {JITSI_PROSODY_CONTAINER: 'service_started'}) }}
    {{ lookup('container_ports', ['jitsi', 'http', DOCKER_BIND_HOST]) | indent(4) }}
    {{ lookup('container_volumes', application_id, JITSI_WEB_CONTAINER) | indent(4) }}
    {{ lookup('container_networks') | indent(4) }}

{{ lookup('compose_volumes', application_id,
    extra_volumes={}
) }}
{{ lookup('compose_networks') }}
