{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

{% set service_name = MASTODON_SERVICE_NAME %}
{% set container_port = 3000 %}
{% set container_healthcheck = 'health' %}
  {{ service_name }}:
    {{ lookup('compose_only', 'container_name', MASTODON_CONTAINER) }}
    image: "{{ MASTODON_IMAGE }}:{{ MASTODON_VERSION }}"
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: bash -c "rm -f /mastodon/tmp/pids/server.pid; bundle exec rails s -p {{ container_port }}"
{% include 'roles/sys-svc-container/templates/healthcheck/wget.yml.j2' %}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.mastodon.ports.local.http') }}:{{ container_port }}"
{{ lookup('container_depends_on', application_id) }}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{% set service_name = MASTODON_STREAMING_SERVICE_NAME %}
{% set container_port = 4000 %}
{% set container_healthcheck = 'api/v1/streaming/health' %}
  {{ service_name }}:
    {{ lookup('compose_only', 'container_name', MASTODON_STREAMING_CONTAINER) }}
    image: "{{ MASTODON_STREAMING_IMAGE }}:{{ MASTODON_STREAMING_VERSION }}"
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: node ./streaming
{% include 'roles/sys-svc-container/templates/healthcheck/wget.yml.j2' %}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.mastodon.ports.local.websocket') }}:{{ container_port }}"
{{ lookup('container_depends_on', application_id) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{% set service_name = MASTODON_SIDEKIQ_SERVICE_NAME %}
  {{ service_name }}:
    {{ lookup('compose_only', 'container_name', MASTODON_SIDEKIQ_CONTAINER) }}
    image: "{{ MASTODON_IMAGE }}:{{ MASTODON_VERSION }}"
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: bundle exec sidekiq
{{ lookup('container_depends_on', application_id) }}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
    healthcheck:
      test: ["CMD-SHELL", "pgrep -f sidekiq || exit 1"]
      interval: 1m
      timeout: 10s
      retries: 3
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{{ lookup('compose_volumes', application_id) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
