{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

{% set service_name = MASTODON_SERVICE_NAME %}
{% set container_port = 3000 %}
{% set container_healthcheck = 'health' %}
  {{ service_name }}:
    {{ lookup('compose_only', 'container_name', MASTODON_CONTAINER) }}
    {{ lookup('container_image', application_id, 'mastodon') }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: bash -c "rm -f /mastodon/tmp/pids/server.pid; bundle exec rails s -p {{ container_port }}"
{% include 'roles/sys-svc-container/templates/healthcheck/wget.yml.j2' %}
    {{ lookup('container_ports', ['mastodon', 'http', DOCKER_BIND_HOST]) | indent(4) }}
    {{ lookup('container_depends_on', application_id) | indent(4) }}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
    {{ lookup('container_networks') | indent(4) }}

{% set service_name = MASTODON_STREAMING_SERVICE_NAME %}
{% set container_port = 4000 %}
{% set container_healthcheck = 'api/v1/streaming/health' %}
  {{ service_name }}:
    {{ lookup('compose_only', 'container_name', MASTODON_STREAMING_CONTAINER) }}
    {{ lookup('container_image', application_id, 'streaming') }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: node ./streaming
{% include 'roles/sys-svc-container/templates/healthcheck/wget.yml.j2' %}
    {{ lookup('container_ports', ['mastodon', 'websocket', DOCKER_BIND_HOST]) | indent(4) }}
    {{ lookup('container_depends_on', application_id) | indent(4) }}
    {{ lookup('container_networks') | indent(4) }}

{% set service_name = MASTODON_SIDEKIQ_SERVICE_NAME %}
  {{ service_name }}:
    {{ lookup('compose_only', 'container_name', MASTODON_SIDEKIQ_CONTAINER) }}
    {{ lookup('container_image', application_id, 'mastodon') }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: bundle exec sidekiq
    {{ lookup('container_depends_on', application_id) | indent(4) }}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
    healthcheck:
      test: ["CMD-SHELL", "pgrep -f sidekiq || exit 1"]
      interval: 1m
      timeout: 10s
      retries: 3
    {{ lookup('container_networks') | indent(4) }}

{{ lookup('compose_volumes', application_id) }}
{{ lookup('compose_networks') }}
