div#mastodon, div#admin-wrapper {
  --dropdown-border-color: var(--color-01-35);
  --dropdown-background-color: rgba(var(--color-rgb-01-03), 0.9);
  --dropdown-shadow: 0 20px 25px -5px rgba(var(--color-rgb-01-01), 0.25),
                       0 8px 10px -6px rgba(var(--color-rgb-01-01), 0.25);

  --modal-background-color: rgba(var(--color-rgb-01-03), 0.7);
  --modal-background-variant-color: rgba(var(--color-rgb-01-05), 0.7);
  --modal-border-color: var(--color-01-35);

  --background-border-color: var(--color-01-82);
  --background-filter: blur(10px) saturate(180%) contrast(75%) brightness(70%);
  --background-color: var(--color-01-93);
  --background-color-tint: rgba(var(--color-rgb-01-03), 0.9);

  --surface-background-color: var(--color-01-90);
  --surface-variant-background-color: var(--color-01-89);
  --surface-variant-active-background-color: var(--color-01-35);
  --on-surface-color: rgba(var(--color-rgb-01-05), 0.5);

  --media-outline-color: rgba(var(--color-rgb-01-99), 0.15);
  --overlay-icon-shadow: drop-shadow(0 0 8px rgba(var(--color-rgb-01-01), 0.25));
}

.swal2-popup {
    color: #000;
}

/* Modal Overwrittes */ 
div.modal div.modal-content {
  --bs-modal-color: var(--color-01-21);
  --bs-modal-bg: var(--color-01-82);
  --bs-modal-border-color: var(--color-01-82);
  --bs-modal-header-border-color: var(--color-01-87);
  --bs-modal-footer-bg: var(--color-01-87);
  --bs-modal-footer-border-color: var(--color-01-87);
}
