API_PASSWORD={{ WAZUH_WUI_PASSWORD | dotenv_quote }}
API_USERNAME={{ WAZUH_WUI_USERNAME }}
DASHBOARD_PASSWORD={{ WAZUH_DASHBOARD_SERVICE_PASSWORD | dotenv_quote }}
DASHBOARD_USERNAME={{ WAZUH_DASHBOARD_SERVICE_USERNAME }}
INDEXER_PASSWORD={{ WAZUH_INDEXER_ADMIN_PASSWORD | dotenv_quote }}
INDEXER_USERNAME={{ WAZUH_INDEXER_ADMIN_USERNAME }}
WAZUH_API_URL=https://{{ WAZUH_MANAGER_CONTAINER }}
