API_PASSWORD={{ WAZUH_WUI_PASSWORD | dotenv_quote }}
API_USERNAME={{ WAZUH_WUI_USERNAME }}
FILEBEAT_SSL_VERIFICATION_MODE=full
INDEXER_PASSWORD={{ WAZUH_INDEXER_ADMIN_PASSWORD | dotenv_quote }}
INDEXER_URL={{ WAZUH_INDEXER_URL }}
INDEXER_USERNAME={{ WAZUH_INDEXER_ADMIN_USERNAME }}
SSL_CERTIFICATE={{ lookup('volume', application_id, 'manager_filebeat_pem').target }}
SSL_CERTIFICATE_AUTHORITIES={{ lookup('volume', application_id, 'root_ca_manager_pem').target }}
SSL_KEY={{ lookup('volume', application_id, 'manager_filebeat_key_pem').target }}
