{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  {% set container_port = lookup('config', application_id, 'services.' ~ entity_name ~ '.ports.internal.http') %}
  {% set container_healthcheck = 'web/health' %}
  {% set container_healthcheck_start_period = '5m' %}
  {% set service_name = ODOO_SERVICE %}
  {{ service_name }}:
    {{ lookup('template', 'roles/sys-svc-container/templates/build.yml.j2') | indent(4) }}
      args:
        ODOO_IMAGE: "{{ ODOO_IMAGE }}"
        ODOO_VERSION: "{{ ODOO_VERSION }}"
        ODOO_ENTRYPOINT_SCRIPT_HOST_REL: "{{ ODOO_ENTRYPOINT_SCRIPT_HOST_REL }}"
        ODOO_ENTRYPOINT_SCRIPT_DOCKER: "{{ ODOO_ENTRYPOINT_SCRIPT_DOCKER }}"
    {{ lookup('compose_only', 'container_name', ODOO_CONTAINER) }}
    {{ lookup('container_image', application_id, 'odoo') }}
    init: true
    stop_signal: SIGTERM
    stop_grace_period: 30s
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {% include 'roles/sys-svc-container/templates/healthcheck/tcp.yml.j2' %}
    {{ lookup('container_ports',
              ['odoo', 'http', DOCKER_BIND_HOST],
              ['odoo', 'websocket', DOCKER_BIND_HOST]) | indent(4) }}
    environment:
      - HOST={{ ODOO_DB_HOST }}
      - USER={{ ODOO_DB_USER }}
      - PASSWORD={{ ODOO_DB_PASSWORD }}
      - ODOO_URL={{ ODOO_URL }}
      - ODOO_INIT_MODULES={{ ODOO_INIT_MODULES }}
      - ODOO_UPDATE_MARKER={{ ODOO_UPDATE_MARKER }}
      {% if ODOO_OIDC_ENABLED | bool %}
      - ODOO_OIDC_CLIENT_ID={{ ODOO_OIDC_CLIENT_ID }}
      - ODOO_OIDC_CLIENT_SECRET={{ ODOO_OIDC_CLIENT_SECRET }}
      - ODOO_OIDC_ISSUER_URL={{ ODOO_OIDC_ISSUER_URL }}
      - ODOO_OIDC_TOKEN_URL={{ ODOO_OIDC_TOKEN_URL }}
      - ODOO_OIDC_JWKS_URI={{ ODOO_OIDC_JWKS_URI }}
      - ODOO_OIDC_UID_FIELD={{ ODOO_OIDC_UID_FIELD }}
      {% endif %}
    {{ lookup('container_depends_on', application_id) | indent(4) }}
    {{ lookup('container_networks') | indent(4) }}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}

{{ lookup('compose_volumes', application_id) }}
{{ lookup('compose_networks') }}
