# Nix configuration file
# Managed by the {{ SOFTWARE_NAME }}dev-nix Ansible role

# Unix group containing the Nix build user accounts
build-users-group = nixbld

ssl-cert-file = {{ dev_nix_ssl_cert_file }}

{% if dev_nix_enable_experimental_features %}
experimental-features = {{ dev_nix_experimental_features | join(" ") }}
{% endif %}

keep-derivations = true
keep-outputs = true

