<?php
{% raw %}
$CONFIG_EXTRA = [];

foreach (glob("{% endraw %}{{ NEXTCLOUD_DOCKER_CONF_ADD_PATH }}{% raw %}*.php") as $file) {
    $CONFIG_EXTRA = array_merge($CONFIG_EXTRA, include $file);
}

$CONFIG = $CONFIG_EXTRA;
{% endraw %}
