{# The following directives enforce OAuth2 authentication: #}

auth_request /oauth2/auth;

error_page 401 = /oauth2/start;

auth_request_set $authrequest_user        $upstream_http_x_auth_request_user;
auth_request_set $authrequest_username    $upstream_http_x_auth_request_preferred_username;
auth_request_set $authrequest_email       $upstream_http_x_auth_request_email;
auth_request_set $authrequest_groups      $upstream_http_x_auth_request_groups;
auth_request_set $authrequest_accesstoken $upstream_http_x_auth_request_access_token;
proxy_set_header X-Forwarded-User                 $authrequest_user;
proxy_set_header X-Forwarded-Preferred-Username   $authrequest_username;
proxy_set_header X-Forwarded-Email                $authrequest_email;
proxy_set_header X-Forwarded-Groups               $authrequest_groups;
proxy_set_header X-Forwarded-Access-Token         $authrequest_accesstoken;
{% include 'roles/sys-svc-proxy/templates/headers/untrusted_identity_strips.conf.j2' %}