{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  {{ entity_name }}:
    image: "{{ REGISTRY_CACHE_IMAGE }}:{{ REGISTRY_CACHE_VERSION }}"
{% if DEPLOYMENT_MODE != 'swarm' %}
    {{ lookup('compose_only', 'container_name', REGISTRY_CACHE_CONTAINER) }}
{% endif %}
    environment:
      REGISTRY_PROXY_REMOTEURL: "{{ REGISTRY_CACHE_PROXY_REMOTE_URL }}"
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    ports:
      - "{{ REGISTRY_CACHE_PORT }}:5000"
    {{ lookup('container_volumes', application_id, entity_name) | indent(4) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{{ lookup('compose_volumes', application_id) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
