{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  {{ entity_name }}:
    image: "{{ REGISTRY_IMAGE }}:{{ REGISTRY_VERSION }}"
    {{ lookup('compose_only', 'container_name', REGISTRY_CONTAINER) }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    ports:
{% if DEPLOYMENT_MODE == 'swarm' %}
      - target: {{ REGISTRY_CONTAINER_PORT }}
        published: {{ REGISTRY_PORT }}
        protocol: tcp
        mode: host
{% else %}
      - "{{ REGISTRY_PORT }}:{{ REGISTRY_CONTAINER_PORT }}"
{% endif %}
    {{ lookup('container_volumes', application_id, entity_name) | indent(4) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{{ lookup('compose_volumes', application_id) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
