MCP_CLIENT_CONTAINER={{ lookup('container_address', application_id, 'hermes') }}
MCP_SERVER_IDS='{{ HERMES_MCP_SERVERS | map(attribute='id') | list | to_json }}'
MCP_TEST_ENABLED={{ lookup('config', application_id, 'mcp.enabled') | string | lower }}
