MCP_CLIENT_CONTAINER={{ CLI_LOCAL_CID }}
MCP_SERVER_IDS='{{ HERMES_MCP_SERVERS | map(attribute='id') | list | to_json }}'
MCP_TEST_ENABLED={{ lookup('config', application_id, 'mcp.enabled') | string | lower }}
