{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  application:
{% set service_name = 'decidim' %}
{% set container_healthcheck = 'health_check' %}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('template', 'roles/sys-svc-container/templates/build.yml.j2') | indent(4) }}
      args:
        DECIDIM_IMAGE: "{{ DECIDIM_IMAGE }}"
        DECIDIM_VERSION: "{{ DECIDIM_VERSION }}"
        DECIDIM_PATCH_SCRIPT_HOST_REL: "{{ DECIDIM_PATCH_SCRIPT_HOST_REL }}"
        DECIDIM_PATCH_SCRIPT_DOCKER: "{{ DECIDIM_PATCH_SCRIPT_DOCKER }}"
        DECIDIM_PATCH_RUBY_HOST_REL: "{{ DECIDIM_PATCH_RUBY_HOST_REL }}"
        DECIDIM_PATCH_RUBY_DOCKER: "{{ DECIDIM_PATCH_RUBY_DOCKER }}"
    image: "{{ DECIDIM_CUSTOM_IMAGE }}"
    {{ lookup('compose_only', 'container_name', DECIDIM_CONTAINER) }}
    command: bundle exec puma -C config/puma.rb
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.decidim.ports.local.http') }}:{{ container_port }}"
    {{ lookup('container_volumes', application_id, 'decidim') | indent(4) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
{{ lookup('container_depends_on', application_id) }}
{% include 'roles/sys-svc-container/templates/healthcheck/curl.yml.j2' %}

{{ lookup('compose_volumes', application_id) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
