{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  wordpress:
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_image', application_id, 'wordpress', custom=True) }}
    {{ lookup('compose_only', 'container_name', WORDPRESS_CONTAINER) }}
    {{ lookup('template', 'roles/sys-svc-container/templates/build.yml.j2') | indent(4) }}
      args:
        WORDPRESS_IMAGE:           "{{ WORDPRESS_IMAGE }}"
        WORDPRESS_VERSION:         "{{ WORDPRESS_VERSION }}"
        WORDPRESS_CONFIG_UPLD_REL: "{{ WORDPRESS_CONFIG_UPLD_REL }}"
    {{ lookup('container_ports', ['wordpress', 'http', DOCKER_BIND_HOST]) | indent(4) }}
{{ lookup('container_volumes', application_id, 'wordpress') | indent(4) }}

{% include 'roles/sys-svc-container/templates/healthcheck/msmtp_curl.yml.j2' %}
    {{ lookup('container_depends_on', application_id) | indent(4) }}
    {{ lookup('container_networks') | indent(4) }}

{{ lookup('compose_networks') }}

{{ lookup('compose_volumes', application_id) }}
