location = {{ DASHBOARD_LOCATION_SILENT_CHECK }} {
    default_type text/html;
    add_header Cache-Control "no-store";

    return 200 '<!DOCTYPE html>
<html>
  <head>
    <title>Silent SSO</title>
  </head>
  <body>
    <script>parent.postMessage(location.href, location.origin);</script>
  </body>
</html>';
}
