.bg-background\/95 {
    background-color: var(--design-primary-50);
}

.border-border {
    border-color: var(--design-primary-200);
}

{# Hide Toogle Button #}
nav.flex.items-center.space-x-1{
    display:none;
}
