DOCS_TEST_BASE_URL=http://{{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.docs.ports.local.http') }}
DOCS_TEST_DNS={{ networks.internet.dns }}
DOCS_TEST_DOMAIN={{ DOMAIN_PRIMARY }}
DOCS_TEST_MODE={{ DEPLOYMENT_MODE }}
DOCS_TEST_ROLE={{ lookup('guide_role', application_id) }}
DOCS_TEST_SRC_DIR={{ lookup('path_absolute') }}
DOCS_TEST_TIMEOUT={{ lookup('timeout', 2400) | int }}
