{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  application:
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    image: "{{ GITEA_IMAGE }}:{{ GITEA_VERSION }}"
    {{ lookup('compose_only', 'container_name', GITEA_CONTAINER) }}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.gitea.ports.local.http') }}:{{ container_port }}"
      - "{{lookup('config', application_id, 'services.gitea.ports.public.ssh')}}:22"
    {{ lookup('container_volumes', application_id, 'application') | indent(4) }}
{% include 'roles/sys-svc-container/templates/healthcheck/curl.yml.j2' %}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
{{ lookup('container_depends_on', application_id) }}

{{ lookup('compose_volumes', application_id) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
