{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  bridgy-fed:
    {{ lookup('template', 'roles/sys-svc-container/templates/build.yml.j2') | indent(4) }}
      args:
        BRIDGY_REPO_URL: "{{ BRIDGY_REPO_URL }}"
        BRIDGY_REF: "{{ BRIDGY_REF }}"
        CONTAINER_PORT:  "{{ container_port | string }}"
    {{ lookup('container_image', application_id, 'bridgy-fed') }}
    {{ lookup('compose_only', 'container_name', BRIDGY_CONTAINER) }}
    hostname: "{{ container_hostname }}"
    {{ lookup('container_ports', ['bridgy-fed', 'http', DOCKER_BIND_HOST]) | indent(4) }}
{% include 'roles/sys-svc-container/templates/healthcheck/tcp.yml.j2' %}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_networks') | indent(4) }}

{{ lookup('compose_volumes', application_id) }}

{{ lookup('compose_networks') }}
