{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  {% set service_name = 'onlyoffice' %}
  {{ service_name }}:
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_image', application_id, 'onlyoffice') }}
    {{ lookup('compose_only', 'container_name', ONLYOFFICE_CONTAINER) }}
    {{ lookup('container_ports', ['onlyoffice', 'http', DOCKER_BIND_HOST]) | indent(4) }}
    {% include 'roles/sys-svc-container/templates/healthcheck/curl.yml.j2' %}
    {{ lookup('container_networks') | indent(4) }}
{{ lookup('container_volumes', application_id, 'onlyoffice') | indent(4) }}
    {{ lookup('container_depends_on', application_id) | indent(4) }}

{{ lookup('compose_networks') }}

{{ lookup('compose_volumes', application_id) }}
