# Add constraint overlay to data backend (cn=config): cap the uid length
dn: olcOverlay={2}constraint,{{ OPENLDAP_DATA_BACKEND_DN }}
objectClass: olcOverlayConfig
objectClass: olcConstraintConfig
olcOverlay: constraint
olcConstraintAttribute: uid size {{ IAM_USERNAME_MAX_LENGTH }}
