{% set container_port = container_port | default(lookup('config', application_id, 'services.' ~ service_name ~ '.ports.internal.http', '')) %}
    healthcheck:
      test:
        - "CMD"
        - "wget"
        - "--spider"
        - "--proxy=off"
        - "http://127.0.0.1{{ (":" ~ container_port) if container_port else '' }}/{{ container_healthcheck | default('') }}"
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: {{ container_healthcheck_start_period | default('30s') }}
{{ "\n" }}
