{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
    {% if matrix_flavor == 'ansible' %}
    {% include 'flavor/ansible/services.yml.j2' %}
    {% else %}
    {% include 'flavor/compose/services.yml.j2' %}
    {% endif %}

{{ lookup('compose_volumes', extra_secrets=(lookup('matrix_bridge_mounts', 'stack') if matrix_flavor == 'compose' else {})) }}

{{ lookup('compose_networks') }}
