  - job_name: "matrix-synapse"
    scheme: http
    metrics_path: /_synapse/metrics
    static_configs:
      - targets: ["{{ lookup('native_metrics_target', native_prometheus_application_id) }}"]
        labels:
          app: "{{ native_prometheus_application_id }}"
