<?php
{% if DEPLOYMENT_MODE == "compose" %}
return [
  'memcache.local' => '\\OC\\Memcache\\APCu',
];
{% else %}
{% set _redis_user = lookup('engine', 'redis', application_id, 'username') %}
{% set _redis_password = lookup('engine', 'redis', application_id, 'password') %}
return [
  'memcache.local' => '\\OC\\Memcache\\APCu',
  'memcache.distributed' => '\\OC\\Memcache\\Redis',
  'memcache.locking' => '\\OC\\Memcache\\Redis',
  'redis' => [
    'host' => '{{ lookup('engine', 'redis', application_id, 'host') }}',
    'port' => {{ lookup('engine', 'redis', application_id, 'port') }},
{% if _redis_user | length > 0 %}
    'user' => '{{ _redis_user }}',
{% endif %}
{% if _redis_password | length > 0 %}
    'password' => '{{ _redis_password | replace("\\", "\\\\") | replace("'", "\\'") }}',
{% endif %}
  ],
];
{% endif %}
