<?php
{%- macro php_str(value) -%}
'{{ value | replace("\\", "\\\\") | replace("'", "\\'") }}'
{%- endmacro -%}
{%- set _legacy_login = lookup('config', application_id, 'services.nextcloud.legacy_login_mask.enabled') | bool %}
return [
  'hide_login_form' => {{ 'false' if _legacy_login else 'true' }},
  'auth.webauthn.enabled' => {{ 'true' if _legacy_login else 'false' }},
  'maintenance_window_start' => {{ SYS_SCHEDULE_MAINTANANCE_NEXTCLOUD | int }},
  'default_phone_region' => {{ php_str(HOST_LL | upper) }},
  'trusted_domains' => [
    {{ php_str(NEXTCLOUD_DOMAIN) }},
    {{ php_str(NEXTCLOUD_PROXY_SERVICE) }},
    {{ php_str(NEXTCLOUD_PROXY_DNS_NAME) }},
  ],
  'overwrite.cli.url' => {{ php_str(NEXTCLOUD_URL) }},
  'overwriteprotocol' => {{ php_str(NEXTCLOUD_PROTOCOL) }},
  'overwritehost' => {{ php_str(NEXTCLOUD_DOMAIN) }},
  'trusted_proxies' => [
{%- for _proxy in NEXTCLOUD_TRUSTED_PROXIES %}
    {{ php_str(_proxy) }},
{%- endfor %}
  ],
];
