CACHE_PACKAGE_TEST_CERTS_DIR={{ CACHE_PACKAGE_CERTS_DIR }}
CACHE_PACKAGE_TEST_CONTAINER={{ CLI_LOCAL_CID }}
CACHE_PACKAGE_TEST_FRONTEND={{ CACHE_PACKAGE_FRONTEND_CONTAINER }}
CACHE_PACKAGE_TEST_HOSTS='{{ CACHE_PACKAGE_UPSTREAMS | to_json }}'
CACHE_PACKAGE_TEST_PORT={{ CACHE_PACKAGE_PORT }}
CACHE_PACKAGE_TEST_REPOS='{{ CACHE_PACKAGE_REPOS | to_json }}'
