{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  {# nocheck: container-port-set-unused #}
  {% set container_port = PENPOT_FRONTEND_INTERNAL_PORT %}
  {% set service_name = PENPOT_FRONTEND_SERVICE %}
  {{ service_name }}:
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_image', application_id, 'frontend') }}
    {{ lookup('compose_only', 'container_name', PENPOT_FRONTEND_CONTAINER) }}
    {{ lookup('container_ports', ['penpot', 'http', DOCKER_BIND_HOST]) | indent(4) }}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
    {% include 'roles/sys-svc-container/templates/healthcheck/curl.yml.j2' %}
    {{ lookup('container_networks') | indent(4) }}
    {{ lookup('container_depends_on', application_id, extra={
  PENPOT_BACKEND_SERVICE: {'condition': 'service_started'},
  PENPOT_EXPORTER_SERVICE: {'condition': 'service_started'},
}) | indent(4) }}

  {% set service_name = PENPOT_BACKEND_SERVICE %}
  {{ service_name }}:
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_image', application_id, 'backend') }}
    {{ lookup('compose_only', 'container_name', PENPOT_BACKEND_CONTAINER) }}
    {% if (TLS_MODE | lower) == 'self_signed' %}
    command:
      - /usr/local/bin/java-with-ca-trust.sh
      - /bin/bash
      - run.sh
    {% endif %}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
    {{ lookup('container_networks') | indent(4) }}
    {{ lookup('container_depends_on', application_id) | indent(4) }}

  {% set service_name = PENPOT_EXPORTER_SERVICE %}
  {{ service_name }}:
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_image', application_id, 'exporter') }}
    {{ lookup('compose_only', 'container_name', PENPOT_EXPORTER_CONTAINER) }}
    {{ lookup('container_networks') | indent(4) }}
    {{ lookup('container_depends_on', application_id) | indent(4) }}

{{ lookup('compose_volumes', application_id) }}
{{ lookup('compose_networks') }}
