GATEWAY_CONFIG_PATH={{ agnt_pi_models_path }}
GATEWAY_KEY={{ agnt_pi_gateway_key | dotenv_quote }}
GATEWAY_MODEL={{ agnt_pi_models | first | default('', true) }}
GATEWAY_URL={{ agnt_pi_gateway_url }}
