<object xmlns="http://www.xwiki.org">
  <className>XWiki.XWikiUsers</className>
  <properties>
    <property name="first_name">{{ lookup('users', 'platform_administrator').firstname }}</property>
    <property name="last_name">{{ lookup('users', 'platform_administrator').lastname }}</property>
    <property name="email">{{ lookup('users', 'platform_administrator').email }}</property>
    <property name="active">1</property>
  </properties>
</object>
