ASYNC_ENABLED={{ ASYNC_ENABLED | bool | lower }}
BKP_TEST_BACKUPS_DIR={{ DIR_BACKUPS }}
BKP_TEST_DATABASES_CSV={{ FILE_DATABASE_SECRETS }}
BKP_TEST_HEALTH_TIMEOUT={{ lookup('timeout', 1200) | int }}
BKP_TEST_IS_STACK_HOST={{ IS_STACK_HOST | bool | lower }}
BKP_TEST_RESTORE_BIN=baudolo-restore
BKP_TEST_SERVICE={{ SYS_SERVICE_BACKUP_VOLUME_2_LOCAL }}
