LogLevel {{ 'DEBUG3' if MODE_DEBUG | bool else 'INFO' }}
PermitRootLogin no
PubkeyAuthentication yes
AuthorizedKeysFile	.ssh/authorized_keys
PasswordAuthentication {{ (SYS_SVC_SSHD_PASSWORD_AUTHENTICATION | bool) | ternary('yes', 'no') }}
ChallengeResponseAuthentication no
GSSAPIAuthentication no
UsePAM yes
PrintMotd no
UseDNS no
{% if ansible_facts['os_family'] == "Archlinux" %}
Subsystem	sftp /usr/lib/ssh/sftp-server
{% else %}
Subsystem	sftp /usr/lib/openssh/sftp-server
{% endif %}
