.admin-card-link-box .admin-card-link .admin-card-link-wrapper {
    color: var(--design-primary-950);
}

.admin-view {
    background-color: var(--design-primary-300);
}

div.widget-panel .panel-card .card-header {
    background-color: var(--design-primary-950);
    color: var(--design-primary-100);
}