{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  {% set service_name = application_id | get_entity_name %}
  {{ service_name }}:
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_image', application_id, 'mig') }}
    {{ lookup('compose_only', 'container_name', MIG_CONTAINER) }}
    {{ lookup('container_ports', ['mig', 'http', DOCKER_BIND_HOST]) | indent(4) }}
    {{ lookup('container_networks') | indent(4) }}
    {% include 'roles/sys-svc-container/templates/healthcheck/curl.yml.j2' %}
{{ lookup('compose_volumes', application_id) }}

{{ lookup('compose_networks') }}
