.wrap {
    color: var(--design-text);
    background-color: var(--design-primary-300);
    box-shadow: 2px 2px 0 var(--design-primary-500);
    border: 1px solid var(--design-primary-900);
    border-radius: 6px;

}

.lists .description {
    color: var(--design-primary-950);
}

#app .main {
    background: var(--design-primary-500);
}

.title {
    color: var(--design-primary-950);
}


.tabs a {
    border-bottom-color: var(--design-primary-950);
    color: var(--design-primary-950);
}

.field .help {
    color: var(--design-primary-950);
}

.field label {
    color: var(--design-primary-200);
}