ui = true

log_level = "{{ OPENBAO_LOG_LEVEL }}"

disable_mlock = true

storage "raft" {
  path    = "{{ OPENBAO_DATA_DOCKER }}"
  node_id = "{{ OPENBAO_NAME }}-1"
}

listener "tcp" {
  address     = "0.0.0.0:{{ container_port }}"
  tls_disable = true

  telemetry {
    unauthenticated_metrics_access = true
  }
}

seal "static" {
  current_key_id = "{{ OPENBAO_SEAL_KEY_ID }}"
  current_key    = "env://OPENBAO_SEAL_KEY"
}

telemetry {
  prometheus_retention_time = "24h"
  disable_hostname          = true
}

api_addr = "{{ OPENBAO_BASE_URL }}"

cluster_addr = "http://127.0.0.1:{{ container_port | int + 1 }}"
