  - job_name: "openbao"
    scheme: http
    metrics_path: /v1/sys/metrics
    params:
      format: ["prometheus"]
    static_configs:
      - targets: ["{{ lookup('native_metrics_target', native_prometheus_application_id) }}"]
        labels:
          app: "{{ native_prometheus_application_id }}"
