bridge:
    command_prefix: '!signal'
    personal_filtering_spaces: false
    private_chat_portal_meta: false
    bridge_notices: true
    bridge_status_notices: errors

    relay:
        enabled: false
        admin_only: true
        message_formats:
{% raw %}
            m.text: "<b>{{ .Sender.DisambiguatedName }}</b>: {{ .Message }}"
            m.notice: "<b>{{ .Sender.DisambiguatedName }}</b>: {{ .Message }}"
            m.emote: "* <b>{{ .Sender.DisambiguatedName }}</b> {{ .Message }}"
            m.file: "<b>{{ .Sender.DisambiguatedName }}</b> sent a file{{ if .Caption }}: {{ .Caption }}{{ end }}"
            m.image: "<b>{{ .Sender.DisambiguatedName }}</b> sent an image{{ if .Caption }}: {{ .Caption }}{{ end }}"
            m.audio: "<b>{{ .Sender.DisambiguatedName }}</b> sent an audio file{{ if .Caption }}: {{ .Caption }}{{ end }}"
            m.video: "<b>{{ .Sender.DisambiguatedName }}</b> sent a video{{ if .Caption }}: {{ .Caption }}{{ end }}"
            m.location: "<b>{{ .Sender.DisambiguatedName }}</b> sent a location{{ if .Caption }}: {{ .Caption }}{{ end }}"
{% endraw %}

    permissions:
        "*": relay
        "{{ MATRIX_SERVER_NAME }}": user
        "@{{ MATRIX_ADMINISTRATOR_USERNAME }}:{{ MATRIX_SERVER_NAME }}": admin

database:
    type: postgres
    uri: postgres://mautrix_signal_bridge:{{ lookup('config', application_id, 'secrets.credentials.mautrix_signal_bridge_database_password') | regex_replace('/', '%2F') | regex_replace('@', '%40') | regex_replace(':', '%3A') }}@{{ MATRIX_POSTGRES_HOST }}/mautrix_signal_bridge?sslmode=disable
    max_open_conns: 20
    max_idle_conns: 2
    max_conn_idle_time: null
    max_conn_lifetime: null

homeserver:
    address: http://synapse:{{ MATRIX_SYNAPSE_CONTAINER_PORT }}
    domain: {{ MATRIX_SERVER_NAME }}

    software: standard
    status_endpoint:
    message_send_checkpoint_endpoint:
    async_media: false

    websocket: false
    ping_interval_seconds: 0
    retry_limit: 4

appservice:
    address: http://mautrix-signal:29328

    hostname: 0.0.0.0
    port: 29328

    id: signal
    bot:
        username: signalbot
        displayname: Signal bridge bot
        avatar: mxc://maunium.net/wPJgTQbZOtpBFmDNkiNEMDUp

    ephemeral_events: true
    async_transactions: false

    as_token: "This value is generated when generating the registration"
    hs_token: "This value is generated when generating the registration"

{% raw %}
    username_template: signal_{{.}}
{% endraw %}

matrix:
    message_status_events: false
    delivery_receipts: false
    message_error_notices: true
    sync_direct_chat_list: false
    federate_rooms: true

provisioning:
    shared_secret: generate
    debug_endpoints: false

backfill:
    enabled: false

double_puppet:
    servers:
        {{ MATRIX_SERVER_NAME }}: {{ MATRIX_SYNAPSE_URL }}
    allow_discovery: false
    secrets:
        {{ MATRIX_SERVER_NAME }}: {{ MATRIX_REGISTRATION_SHARED_SECRET }}

encryption:
    allow: false
    default: false
    require: false
    appservice: false
    allow_key_sharing: false
    pickle_key: generate
    verification_levels:
        receive: unverified
        send: unverified
        share: cross-signed-tofu
    rotation:
        enable_custom: false
        milliseconds: 604800000
        messages: 100
        disable_device_change_key_rotation: false

network:
{% raw %}
    displayname_template: '{{or .ProfileName .PhoneNumber "Unknown user"}}'
{% endraw %}
    use_contact_avatars: false
    sync_contacts_on_startup: true
    use_outdated_profiles: false
    number_in_topic: true
    device_name: mautrix-signal
    note_to_self_avatar: mxc://maunium.net/REBIVrqjZwmaWpssCZpBlmlL
    location_format: 'https://www.google.com/maps/place/%[1]s,%[2]s'
    disappear_view_once: false
    extev_polls: false

logging:
    min_level: debug
    writers:
        - type: stdout
          format: pretty-colored
        - type: file
          format: json
          filename: ./logs/mautrix-signal.log
          max_size: 100
          max_backups: 10
          compress: true
