
database:
    type: postgres
    uri: postgres://mautrix_slack_bridge:{{ lookup('config', application_id, 'secrets.credentials.mautrix_slack_bridge_database_password') | regex_replace('/', '%2F') | regex_replace('@', '%40') | regex_replace(':', '%3A') }}@{{ MATRIX_POSTGRES_HOST }}/mautrix_slack_bridge?sslmode=disable
    max_open_conns: 20
    max_idle_conns: 2
    max_conn_idle_time: null
    max_conn_lifetime: null

homeserver:
    address: http://synapse:{{ MATRIX_SYNAPSE_CONTAINER_PORT }}
    domain: {{ MATRIX_SERVER_NAME }}

    software: standard
    status_endpoint: null
    message_send_checkpoint_endpoint: null
    async_media: false

    websocket: false
    ping_interval_seconds: 0
    retry_limit: 4

appservice:
    address: http://mautrix-slack:29335

    hostname: 0.0.0.0
    port: 29335

    id: slack
    bot:
        username: slackbot
        displayname: Slack bridge bot
        avatar: mxc://maunium.net/pVtzLmChZejGxLqmXtQjFxem

    ephemeral_events: true
    async_transactions: false

    as_token: "This value is generated when generating the registration"
    hs_token: "This value is generated when generating the registration"

{% raw %}
    username_template: slack_{{.}}
{% endraw %}

bridge:
    command_prefix: '!slack'
    personal_filtering_spaces: true
    private_chat_portal_meta: true
    bridge_status_notices: errors
    relay:
        enabled: false
        admin_only: true
        default_relays: []
        message_formats:
{% raw %}
            m.text: "<b>{{ .Sender.DisambiguatedName }}</b>: {{ .Message }}"
            m.notice: "<b>{{ .Sender.DisambiguatedName }}</b>: {{ .Message }}"
            m.emote: "* <b>{{ .Sender.DisambiguatedName }}</b> {{ .Message }}"
{% endraw %}

    permissions:
        "*": relay
        "{{ MATRIX_SERVER_NAME }}": user
        "@{{ MATRIX_ADMINISTRATOR_USERNAME }}:{{ MATRIX_SERVER_NAME }}": admin

matrix:
    message_status_events: false
    delivery_receipts: true
    message_error_notices: true
    sync_direct_chat_list: false
    federate_rooms: true

provisioning:
    shared_secret: generate

network:
{% raw %}
    displayname_template: '{{or .Profile.DisplayName .Profile.RealName .Name}}{{if .IsBot}} (bot){{end}}'
    channel_name_template: '{{if and .IsChannel (not .IsPrivate)}}#{{end}}{{.Name}}{{if .IsNoteToSelf}} (you){{end}}'
    team_name_template: "{{ .Name }}"
{% endraw %}

    custom_emoji_reactions: true
    workspace_avatar_in_rooms: false
    participant_sync_count: 5
    participant_sync_only_on_create: true
    mute_channels_by_default: false

    backfill:
        conversation_count: -1

double_puppet:
    servers:
        {{ MATRIX_SERVER_NAME }}: {{ MATRIX_SYNAPSE_URL }}
    allow_discovery: false
    secrets:
        {{ MATRIX_SERVER_NAME }}: {{ MATRIX_REGISTRATION_SHARED_SECRET }}

backfill:
    enabled: false
    max_initial_messages: 50
    max_catchup_messages: 500
    unread_hours_threshold: 720
    threads:
        max_initial_messages: 50
    queue:
        enabled: false

encryption:
    allow: false
    default: false
    require: false
    appservice: false
    allow_key_sharing: false
    pickle_key: generate
    verification_levels:
        receive: unverified
        send: unverified
        share: cross-signed-tofu
    rotation:
        enable_custom: false
        milliseconds: 604800000
        messages: 100
        disable_device_change_key_rotation: false

logging:
    min_level: debug
    writers:
        - type: stdout
          format: pretty-colored
        - type: file
          format: json
          filename: ./logs/mautrix-slack.log
          max_size: 100
          max_backups: 10
          compress: true
