bridge:
    command_prefix: "!tg"
    personal_filtering_spaces: true
    private_chat_portal_meta: true
    bridge_matrix_leave: true
    bridge_notices: false
    tag_only_on_create: true
    kick_matrix_users: true

    relay:
        enabled: false
        admin_only: true
        default_relays: []
        message_formats:
            m.text: {% raw %}"<b>{{ .Sender.DisambiguatedName }}</b>: {{ .Message }}"{% endraw %}

            m.notice: {% raw %}"<b>{{ .Sender.DisambiguatedName }}</b>: {{ .Message }}"{% endraw %}

            m.emote: {% raw %}"* <b>{{ .Sender.DisambiguatedName }}</b> {{ .Message }}"{% endraw %}

            m.file: {% raw %}"<b>{{ .Sender.DisambiguatedName }}</b> sent a file{{ if .Caption }}: {{ .Caption }}{{ end }}"{% endraw %}

            m.image: {% raw %}"<b>{{ .Sender.DisambiguatedName }}</b> sent an image{{ if .Caption }}: {{ .Caption }}{{ end }}"{% endraw %}

            m.audio: {% raw %}"<b>{{ .Sender.DisambiguatedName }}</b> sent an audio file{{ if .Caption }}: {{ .Caption }}{{ end }}"{% endraw %}

            m.video: {% raw %}"<b>{{ .Sender.DisambiguatedName }}</b> sent a video{{ if .Caption }}: {{ .Caption }}{{ end }}"{% endraw %}

            m.location: {% raw %}"<b>{{ .Sender.DisambiguatedName }}</b> sent a location{{ if .Caption }}: {{ .Caption }}{{ end }}"{% endraw %}

    portal_create_filter:
        mode: deny
        list: []
        always_deny_from_login: []

    management_room_text:
        welcome: "Hello, I'm a Telegram bridge bot."
        welcome_connected: "Use `help` for help."
        welcome_unconnected: "Use `help` for help or `login` to log in."
        additional_help: ""

    permissions:
        "*": "relay"
        "public.{{ MATRIX_SERVER_NAME }}": "commands"
        "{{ MATRIX_SERVER_NAME }}": "user"
        "@{{ MATRIX_ADMINISTRATOR_USERNAME }}:{{ MATRIX_SERVER_NAME }}": "admin"

database:
    type: postgres
    uri: postgres://mautrix_telegram_bridge:{{ lookup('config', application_id, 'secrets.credentials.mautrix_telegram_bridge_database_password') | regex_replace('/', '%2F') | regex_replace('@', '%40') | regex_replace(':', '%3A') }}@{{ MATRIX_POSTGRES_HOST }}/mautrix_telegram_bridge?sslmode=disable
    max_open_conns: 5
    max_idle_conns: 1
    max_conn_idle_time: null
    max_conn_lifetime: null

homeserver:
    address: http://synapse:{{ MATRIX_SYNAPSE_CONTAINER_PORT }}
    domain: {{ MATRIX_SERVER_NAME }}
    software: standard
    status_endpoint:
    message_send_checkpoint_endpoint:
    async_media: false
    retry_limit: 4

appservice:
    address: http://mautrix-telegram:29317
    hostname: 0.0.0.0
    port: 29317

    id: telegram
    bot:
        username: telegrambot
        displayname: Telegram bridge bot
        avatar: mxc://maunium.net/tJCRmUyJDsgRNgqhOgoiHWbX

    ephemeral_events: true

    as_token: "This value is generated when generating the registration"
    hs_token: "This value is generated when generating the registration"

    username_template: {% raw %}telegram_{{.}}{% endraw %}

matrix:
    message_status_events: false
    delivery_receipts: false
    message_error_notices: true
    sync_direct_chat_list: false
    federate_rooms: true

provisioning:
    shared_secret: generate
    allow_matrix_auth: true

backfill:
    enabled: true
    max_initial_messages: 50
    max_catchup_messages: 500
    unread_hours_threshold: 720
    threads:
        max_initial_messages: 50
    queue:
        enabled: false
        batch_size: 100
        batch_delay: 20
        max_batches: -1

double_puppet:
    servers:
        {{ MATRIX_SERVER_NAME }}: {{ MATRIX_SYNAPSE_URL }}
    allow_discovery: false
    secrets:
        {{ MATRIX_SERVER_NAME }}: {{ MATRIX_REGISTRATION_SHARED_SECRET }}

encryption:
    allow: false
    default: false
    require: false
    appservice: false
    allow_key_sharing: false
    pickle_key: generate
    verification_levels:
        receive: unverified
        send: unverified
        share: cross-signed-tofu
    rotation:
        enable_custom: false
        milliseconds: 604800000
        messages: 100
        disable_device_change_key_rotation: false

network:
    api_id: {{ lookup('config', application_id, 'secrets.credentials.mautrix_telgegram_bridge_api_id') }}
    api_hash: {{ lookup('config', application_id, 'secrets.credentials.mautrix_telgegram_bridge_api_pin') }}

    device_info:
        device_model: mautrix-telegram
        system_version:
        app_version: auto
        lang_code: en
        system_lang_code: en

    animated_sticker:
        target: gif
        convert_from_webm: false
        args:
            width: 256
            height: 256
            fps: 25

    member_list:
        max_initial_sync: 100
        sync_broadcast_channels: false
        skip_deleted: true

    ping:
        interval_seconds: 30
        timeout_seconds: 10

    proxy:
        type: disabled
        address: "127.0.0.1:1080"
        username:
        password:

    sync:
        update_limit: 100
        create_limit: 15
        login_sync_limit: 15
        direct_chats: true

    takeout:
        dialog_sync: false
        forward_backfill: false
        backward_backfill: false

    max_member_count: -1
    contact_avatars: false
    contact_names: false
    always_custom_emoji_reaction: false
    saved_message_avatar: mxc://maunium.net/XhhfHoPejeneOngMyBbtyWDk
    always_tombstone_on_supergroup_migration: false
    image_as_file_pixels: 16777216
    disable_view_once: false
    video_url_preview_as_file: false
    displayname_template: {% raw %}"{{ if .Deleted }}Deleted account {{ .UserID }}{{ else }}{{ .FullName }}{{ end }}"{% endraw %}

logging:
    min_level: debug
    writers:
        - type: stdout
          format: pretty-colored
        - type: file
          format: json
          filename: ./logs/bridge.log
          max_size: 100
          max_backups: 10
          compress: false
