{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  {% set service_name = 'joomla' %}
  {% set container_healthcheck_start_period = '15m' %}
  {{ service_name }}:
    {{ lookup('template', 'roles/sys-svc-container/templates/build.yml.j2') | indent(4) }}
      args:
        JOOMLA_IMAGE: "{{ JOOMLA_IMAGE }}"
        JOOMLA_VERSION: "{{ JOOMLA_VERSION }}"
        JOOMLA_ENTRYPOINT_SCRIPT_HOST_REL: "{{ JOOMLA_ENTRYPOINT_SCRIPT_HOST_REL }}"
        JOOMLA_ENTRYPOINT_SCRIPT_DOCKER: "{{ JOOMLA_ENTRYPOINT_SCRIPT_DOCKER }}"
    {{ lookup('container_image', application_id, 'joomla') }}
    {{ lookup('compose_only', 'container_name', JOOMLA_CONTAINER) }}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
    {{ lookup('container_ports', ['joomla', 'http', DOCKER_BIND_HOST]) | indent(4) }}
    {% include 'roles/sys-svc-container/templates/healthcheck/curl.yml.j2' %}
    {{ lookup('container_networks') | indent(4) }}
    {{ lookup('container_depends_on', application_id) | indent(4) }}

{{ lookup('compose_volumes', application_id) }}
{{ lookup('compose_networks') }}
