{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  {% set service_name = NAVIGATOR_SERVICE %}
  {{ service_name }}:
    build:
      context:    {{ path_infinito_presentation_output.stdout }}
      dockerfile: {{ path_infinito_presentation_output.stdout }}/Dockerfile
    {{ lookup('container_image', application_id, 'navigator', image=NAVIGATOR_IMAGE) }}
    {{ lookup('compose_only', 'pull_policy', 'never') }}
    {{ lookup('container_ports', ['navigator', 'http', DOCKER_BIND_HOST]) | indent(4) }}
    {{ lookup('container_volumes', application_id, NAVIGATOR_SERVICE) | indent(4) }}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_networks') | indent(4) }}

{{ lookup('compose_volumes', application_id) }}

{{ lookup('compose_networks') }}
