{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  {{ NAVIGATOR_SERVICE }}:
    build:
      context:    {{ path_infinito_presentation_output.stdout }}
      dockerfile: {{ path_infinito_presentation_output.stdout }}/Dockerfile
    image: {{ NAVIGATOR_IMAGE }}
    {{ lookup('compose_only', 'pull_policy', 'never') }}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.navigator.ports.local.http') }}:5000"
    {{ lookup('container_volumes', application_id, NAVIGATOR_SERVICE) | indent(4) }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{{ lookup('compose_volumes', application_id) }}

{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
