SiteSetting.discourse_ai_enabled = true
host = '{{ DISCOURSE_LITELLM_HOST }}'
hosts = SiteSetting.allowed_internal_hosts.to_s.split('|').map(&:strip).reject(&:empty?)
SiteSetting.allowed_internal_hosts = (hosts + [host]).join('|') unless hosts.include?(host)
llm = LlmModel.find_or_initialize_by(display_name: '{{ DISCOURSE_AI_LLM_DISPLAY_NAME }}')
llm.provider = 'open_ai'
llm.name = '{{ LITELLM_CHAT_MODEL }}'
llm.url = '{{ DISCOURSE_LITELLM_CHAT_ENDPOINT }}'
llm.api_key = '{{ DISCOURSE_LITELLM_API_KEY }}'
llm.tokenizer = 'DiscourseAi::Tokenizer::OpenAiTokenizer'
llm.max_prompt_tokens = {{ DISCOURSE_AI_MAX_PROMPT_TOKENS }}
llm.save!
SiteSetting.ai_default_llm_model = llm.id.to_s
SiteSetting.ai_helper_enabled = true
SiteSetting.ai_summarization_enabled = true
SiteSetting.ai_bot_enabled = true
SiteSetting.ai_bot_enabled_llms = llm.id.to_s
llm.reload.toggle_companion_user
