:root {
  --cassiopeia-color-primary: var(--design-primary);
  --cassiopeia-color-hover: var(--design-primary-hover);
  --cassiopeia-color-link: var(--design-link);
  --link-color: var(--design-link);
  --link-color-rgb: var(--design-link-rgb);
  --link-hover-color: var(--design-link);
  --link-hover-color-rgb: var(--design-link-rgb);
}
