{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  ollama:
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    image: {{ OLLAMA_IMAGE }}:{{ OLLAMA_VERSION }}
    {{ lookup('compose_only', 'container_name', OLLAMA_CONTAINER) }}
    expose:
      - "{{ OLLAMA_PORT }}"
{{ lookup('container_volumes', application_id, 'ollama') | indent(4) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}

{{ lookup('compose_volumes', application_id) }}
