path "{{ OPENBAO_KV_MOUNT }}/data/*" {
  capabilities = ["create", "read", "update", "delete", "list"]
}

path "{{ OPENBAO_KV_MOUNT }}/metadata/*" {
  capabilities = ["read", "list", "delete"]
}

path "{{ OPENBAO_PKI_MOUNT }}/issue/*" {
  capabilities = ["create", "update"]
}

path "{{ OPENBAO_PKI_MOUNT }}/certs" {
  capabilities = ["list"]
}

path "sys/health" {
  capabilities = ["read"]
}

path "sys/seal-status" {
  capabilities = ["read"]
}

path "sys/internal/ui/mounts" {
  capabilities = ["read"]
}

path "sys/internal/ui/mounts/*" {
  capabilities = ["read"]
}
