{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  celeryworker:
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    image: "{{ FUNKWHALE_API_IMAGE }}:{{ FUNKWHALE_API_VERSION }}"
    command: celery -A funkwhale_api.taskapp worker -l INFO --concurrency={{FUNKWHALE_CELERYD_CONCURRENCY}}
    environment:
      - C_FORCE_ROOT=true
    {{ lookup('container_volumes', application_id, 'celeryworker') | indent(4) }}
{{ lookup('container_depends_on', application_id) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  celerybeat:
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    image: "{{ FUNKWHALE_API_IMAGE }}:{{ FUNKWHALE_API_VERSION }}"
    command: celery -A funkwhale_api.taskapp beat --pidfile= -l INFO
    {{ lookup('container_volumes', application_id, 'celerybeat') | indent(4) }}
{{ lookup('container_depends_on', application_id) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  api:
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    image: "{{ FUNKWHALE_API_IMAGE }}:{{ FUNKWHALE_API_VERSION }}"
    command: gunicorn
    {{ lookup('container_volumes', application_id, 'api') | indent(4) }}
    ports:
      - "{{ FUNKWHALE_DOCKER_API_PORT }}"
{{ lookup('container_depends_on', application_id) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  front:
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    image: "{{ FUNKWHALE_FRONT_IMAGE }}:{{ FUNKWHALE_FRONT_VERSION }}"
    {{ lookup('depends_on', ['api']) }}
    environment:
      - "NGINX_MAX_BODY_SIZE=100M"
    {{ lookup('container_volumes', application_id, 'front') | indent(4) }}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.funkwhale.ports.local.http') }}:80"

  typesense:
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    image: "{{ FUNKWHALE_TYPESENSE_IMAGE }}:{{ FUNKWHALE_TYPESENSE_VERSION }}"
    {{ lookup('container_volumes', application_id, 'typesense') | indent(4) }}
    command: --data-dir /data --enable-cors
{% if DEPLOYMENT_MODE != 'swarm' %}
    profiles:
      - typesense
{% endif %}

{{ lookup('compose_volumes', application_id) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
