{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  {{ entity_name }}:
{% set container_port = 80 %}
    image: {{ PGADMIN_IMAGE }}:{{ PGADMIN_VERSION }}
    {{ lookup('compose_only', 'container_name', entity_name) }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.pgadmin.ports.local.http') }}:80"
{{ lookup('container_depends_on', application_id) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
{% include 'roles/sys-svc-container/templates/healthcheck/wget.yml.j2' %}
    {{ lookup('container_volumes', application_id, entity_name) | indent(4) }}

{{ lookup('compose_volumes', application_id) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
