{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  {{ CHESS_SERVICE }}:
    image: "{{ CHESS_IMAGE }}:{{ CHESS_VERSION }}"
    {{ lookup('compose_only', 'container_name', CHESS_CONTAINER) }}
    hostname: "{{ CHESS_HOSTNAME }}"
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.chess.ports.local.http') }}:{{ container_port }}"
    {{ lookup('container_volumes', application_id, CHESS_SERVICE) | indent(4) }}
{% include 'roles/sys-svc-container/templates/healthcheck/curl.yml.j2' %}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
{{ lookup('container_depends_on', application_id) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{{ lookup('compose_volumes', application_id) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
