{
  "using": ["urn:ietf:params:jmap:core", "urn:stalwart:jmap"],
  "methodCalls": [["x:MtaMilter/set", {"create": {"av": {
    "hostname": {{ STALWART_CLAMAV_HOST | to_json }},
    "port": {{ STALWART_CLAMAV_MILTER_PORT | int }},
    "stages": {"data": true},
    "tempFailOnError": false,
    "timeoutConnect": {{ STALWART_CLAMAV_MILTER_TIMEOUT_CONNECT_MS | int }},
    "timeoutCommand": {{ STALWART_CLAMAV_MILTER_TIMEOUT_COMMAND_MS | int }},
    "timeoutData": {{ STALWART_CLAMAV_MILTER_TIMEOUT_DATA_MS | int }}
  }}}, "c0"]]
}
