# -------------------------------------------------------------------
# Postfix main configuration
# Mode: LOCAL ONLY (no outbound relay)
# Purpose: accept mail from localhost and deliver to local users/aliases
# -------------------------------------------------------------------

# Host identity
myhostname = {{ inventory_hostname }}.localdomain
mydomain = localdomain
myorigin = $mydomain
append_dot_mydomain = no

inet_interfaces = loopback-only
inet_protocols = all

mydestination = $myhostname, localhost.$mydomain, localhost, $mydomain

relayhost =
relay_domains =

mynetworks = 127.0.0.0/8 [::1]/128


{% set email = lookup('email') %}
smtp_connect_timeout = {{ email.timeout }}s
smtp_helo_timeout = {{ email.timeout }}s
smtp_mail_timeout = {{ email.timeout }}s
smtp_rcpt_timeout = {{ email.timeout }}s
smtp_data_init_timeout = {{ email.timeout }}s
smtp_data_xfer_timeout = {{ email.timeout }}s

smtpd_relay_restrictions = permit_mynetworks, reject_unauth_destination
smtpd_recipient_restrictions = permit_mynetworks, reject_unauth_destination

alias_maps = lmdb:/etc/postfix/aliases
alias_database = lmdb:/etc/postfix/aliases
