upstream fastcgi_backend {
  server {{ MAGENTO_PHP_HOST }}:{{ MAGENTO_PHP_PORT }};
}

server {
  listen {{ MAGENTO_NGINX_PORT }};

  set $MAGE_ROOT {{ MAGENTO_ROOT }};

  fastcgi_buffer_size 64k;
  fastcgi_buffers 8 128k;

  include {{ MAGENTO_ROOT }}/nginx[.]conf;
}
