
#pma_navigation {
    background: linear-gradient(to right, var(--design-primary-100), var(--design-primary-200));
    color: var(--design-text);
}

#pma_navigation_tree a {
    color: var(--design-text);
}

#pma_navigation_tree li.activePointer, #pma_navigation_tree li.selected {
    color: var(--design-text);
    background-color: var(--design-primary-400);
}

.breadcrumb-navbar {
    background-color: var(--design-primary-200);
}

.navbar-nav .nav-item {
    background: linear-gradient(var(--design-surface-2), var(--design-primary-200));
    border-right-color: var(--design-surface-2);
    border-left-color: var(--design-primary-300);
    border-bottom-color: var(--design-primary-300);
}

.result_query div.sqlOuter {
    background: var(--design-primary-600);
}

.table {
    --bs-table-bg: var(--design-surface-2);
    --bs-table-border-color: var(--design-surface-2);
    --bs-table-striped-bg: var(--design-primary-200);
    --bs-table-hover-color: var(--design-text);
}

.table thead th {
    background-image: linear-gradient(var(--design-primary-200), var(--design-primary-300));
    border-color: var(--design-surface-2);
}

.table th, .table td {
    text-shadow: 0 1px 0 var(--design-primary-500);
}

div.tools, .tblFooters {
    color: var(--design-text);
    background: var(--design-primary-500);
}


.navigation {
    background: linear-gradient(var(--design-primary-200), var(--design-primary-400));
}

.pma-fieldset {
    border-color: var(--design-primary-950);
    background: var(--design-primary-300);
}
