{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  lam:
    {{ lookup('compose_only', 'container_name', LAM_CONTAINER) }}
    {{ lookup('container_image', application_id, 'lam') }}
    {{ lookup('container_ports', ['lam', 'http', DOCKER_BIND_HOST]) | indent(4) }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_networks') | indent(4) }}

{{ lookup('compose_volumes', application_id,
) }}

{{ lookup('compose_networks') }}
