:root {
--lam-background-color-default: var(--design-surface-2);
--lam-input-bg-color: var(--design-surface-2);
--lam-text-color-default: var(--design-text);
--lam-border-color: var(--design-primary-200);
--lam-border-color-primary: var(--design-primary-950);
--lam-border-color-secondary: var(--design-primary-200);
--lam-background-color-primary: var(--design-primary-600);
--lam-background-color-secondary: var(--design-primary-200);
--lam-text-color-primary: var(--design-surface-2);
--lam-text-color-secondary: var(--design-text);
--lam-text-color-ok: var(--design-primary-950);
--lam-table-background-color-bright: var(--design-surface-2);
--lam-table-background-color-dark: var(--design-primary-100);
--lam-table-background-color-hover: var(--design-primary-600);
--lam-table-text-color-hover: var(--design-surface-2);
--lam-table-border-color: var(--design-primary-600);
}


/** LAM Specific **/
.lam-vertical-tabs-navigation li, .lam-vertical-tabs-navigation{
    background-color: transparent !important;
    border-color:     transparent;
}

ul.lam-tab-navigation {
    background: rgba(var(--design-primary-200-rgb), 0.1);
    border-color:      transparent;
}

/* Not changable due to inline css */
.roundedShadowBox {
    color: #000000;
}

.titleBar {
    background-image: linear-gradient(var(--design-primary-300), var(--design-primary-100));
    background-image: linear-gradient(135deg, var(--design-primary-300), var(--design-primary-300), var(--design-primary-200), var(--design-primary-200));
    border-top-color: var(--design-primary-300);
    border-left-color: var(--design-primary-200);
    border-right-color: var(--design-primary-200);
}

div.statusInfo {
    background-color: var(--design-primary-300);
    background: linear-gradient(135deg, var(--design-primary-300), var(--design-primary-300), var(--design-primary-300), var(--design-primary-200));
    color: var(--design-primary-950);
}
