:root {
--lam-background-color-default: var(--color-01-99);
--lam-input-bg-color: var(--color-01-98);
--lam-text-color-default: var(--color-01-01);
--lam-border-color: var(--color-01-90);
--lam-border-color-primary: var(--color-01-15);
--lam-border-color-secondary: var(--color-01-85);
--lam-background-color-primary: var(--color-01-50);
--lam-background-color-secondary: var(--color-01-90);
--lam-text-color-primary: var(--color-01-99);
--lam-text-color-secondary: var(--color-01-01);
--lam-text-color-ok: var(--color-01-10);
--lam-table-background-color-bright: var(--color-01-98);
--lam-table-background-color-dark: var(--color-01-92);
--lam-table-background-color-hover: var(--color-01-50);
--lam-table-text-color-hover: var(--color-01-99);
--lam-table-border-color: var(--color-01-50);
}


/** LAM Specific **/
.lam-vertical-tabs-navigation li, .lam-vertical-tabs-navigation{
    background-color: transparent !important;
    border-color:     transparent;
}

ul.lam-tab-navigation {
    background: rgba(var(--color-rgb-01-90), 0.1);
    border-color:      transparent;
}

/* Not changable due to inline css */
.roundedShadowBox {
    color: #000000;
}

.titleBar {
    background-image: linear-gradient(var(--color-01-83), var(--color-01-92));
    background-image: linear-gradient({{ CSS_GRADIENT_ANGLE }}deg, var(--color-01-78), var(--color-01-83), var(--color-01-84), var(--color-01-88));
    border-top-color: var(--color-01-78);
    border-left-color: var(--color-01-87);
    border-right-color: var(--color-01-87);
}

div.statusInfo {
    background-color: var(--color-01-81);
    background: linear-gradient({{ CSS_GRADIENT_ANGLE }}deg, var(--color-01-76), var(--color-01-81), var(--color-01-82), var(--color-01-86));
    color: var(--color-01-23);
}
