no-resolv
server=/{{ lab_mgr }}/{{ lab_wrk1 }}/{{ lab_wrk2 }}/{{ lab_nfs }}/{{ NETWORK_DOCKER_EMBEDDED_DNS_RESOLVER }}
{% for resolver in NETWORK_PUBLIC_DNS_RESOLVERS %}
server={{ resolver }}
{% endfor %}
address=/{{ lab_domain }}/{{ lab_domain_target }}
local=/{{ lab_domain }}/
