{% set application_id = front_proxy_application_id | default(application_id) %}
{% set domain = front_proxy_domain | default(domain) %}
server
{
  server_name {{ domain }};
  {% include 'roles/sys-svc-proxy/templates/headers/buffers.conf.j2' %}

  {% if domain == lookup('config', application_id, 'domains.canonical.api') %}
    {% include 'roles/sys-front-tls/templates/nginx_ssl_header.j2' %}

    {% set sso_proxy_enabled = false %}
    {% set proxy_lua_enabled = false %}
    {% set webserver_client_max_body_size = '0' %}
    {% set location = "/" %}
    {% include 'roles/sys-svc-proxy/templates/location/html.conf.j2' %}

  {% elif lookup('sso', application_id, 'is_proxy_gated') %}
    {% include 'roles/web-app-keycloak/templates/sso_proxy/endpoint.conf.j2'%}
    {% include 'roles/sys-front-inj-all/templates/server.conf.j2'%}
    {% include 'roles/sys-front-tls/templates/nginx_ssl_header.j2' %}

    {% set sso_proxy_enabled = true %}
    {% set location = "/" %}
    {% set proxy_service_key = 'sso-proxy' %}
    {% set proxy_internal_port = lookup('config', 'web-app-keycloak', 'services.sso_proxy.ports.internal.http') %}
    {% include 'roles/sys-svc-proxy/templates/location/html.conf.j2' %}

    {% include 'roles/web-app-prometheus/templates/nginx/locations.conf.j2' %}

  {% else %}
    {% include 'roles/sys-front-tls/templates/nginx_ssl_header.j2' %}

    location /
    {
      return 403;
    }
  {% endif %}
}
