{% if lookup('objstore', application_id, 'local') %}
{% set _objstore = lookup('objstore', application_id) %}
  seaweedfs:
    image: "{{ _objstore.image }}:{{ _objstore.version }}"  # nocheck: container-image-lookup
    {{ lookup('compose_only', 'container_name', _objstore.container) }}
    {{ lookup('compose_restart', DOCKER_RESTART_POLICY) }}
    command: {{ '' | seaweedfs_command | to_json }}
    volumes:
      - seaweedfs:/data
    networks:  # nocheck: networks-literal
      - default
    logging:
      driver: journald
{% macro include_resource_for(svc, indent=4) -%}
  {% set service_name = svc -%}
  {%- set _snippet -%}
{% include 'roles/sys-svc-container/templates/resource.yml.j2' %}
  {%- endset -%}
{{ _snippet | indent(indent, true) }}
{%- endmacro %}
{{ include_resource_for('seaweedfs') }}
{% endif %}
{{ "\n" }}
