{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  {{ FRIENDICA_SERVICE }}:
    image: "{{ FRIENDICA_IMAGE }}:{{ FRIENDICA_VERSION }}"
    {{ lookup('compose_only', 'container_name', FRIENDICA_CONTAINER) }}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_volumes', application_id, FRIENDICA_SERVICE) | indent(4) }}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.friendica.ports.local.http') }}:80"

{% include 'roles/sys-svc-container/templates/healthcheck/msmtp_curl.yml.j2' %}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
{{ lookup('container_depends_on', application_id) }}

{{ lookup('compose_volumes', application_id) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
