<?php
// Source: https://git.friendi.ca/friendica/friendica-addons/src/branch/develop/ldapauth

return [
	'ldapauth' => [
		'ldap_server' => '{{ LDAP.SERVER.URI }}',

		'ldap_binddn' => '{{ LDAP.DN.ADMINISTRATOR.DATA }}',

		'ldap_bindpw' => '{{ LDAP.BIND_CREDENTIAL }}',

		'ldap_searchdn' => '{{ LDAP.DN.OU.USERS }}',

		'ldap_userattr' => '{{ LDAP.USER.ATTRIBUTES.ID }}',

		'ldap_group' =>'',

		'ldap_autocreateaccount' => 'true',

		'ldap_autocreateaccount_emailattribute' => '{{ LDAP.USER.ATTRIBUTES.MAIL }}',

		'ldap_autocreateaccount_nameattribute' => '{{ LDAP.USER.ATTRIBUTES.FIRSTNAME }}',
	],
];
