{% set container_port = 80 %}
{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  pihole:
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_image', application_id, 'pihole') }}
    {{ lookup('compose_only', 'container_name', PIHOLE_CONTAINER) }}
    environment:
      TZ:                           "{{ PIHOLE_TIMEZONE }}"
      # Pi-hole v6: WEBPASSWORD is replaced by FTLCONF_webserver_api_password
      FTLCONF_webserver_api_password: "{{ PIHOLE_PASSWORD }}"
      # Trust requests proxied via nginx with the canonical domain Host header.
      # Pi-hole v6 FTL denies requests with unrecognised Host headers (DNS
      # rebinding protection); setting webserver.domain whitelists our domain.
      FTLCONF_webserver_domain:     "{{ domain }}"
      PIHOLE_DNS_:                  "{{ PIHOLE_UPSTREAM_DNS }}"
    {{ lookup('container_ports', ['pihole', 'http', DOCKER_BIND_HOST]) | indent(4) }}
    cap_add:
      - NET_ADMIN
    {{ lookup('container_volumes', application_id, 'pihole') | indent(4) }}
{% include 'roles/sys-svc-container/templates/healthcheck/tcp.yml.j2' %}
    {{ lookup('container_networks') | indent(4) }}

{{ lookup('compose_volumes', application_id) }}
{{ lookup('compose_networks') }}
