ADMIN_PASSWORD={{ lookup("users", "platform_administrator").password | dotenv_quote }}
ADMIN_USERNAME={{ lookup("users", "platform_administrator").username | dotenv_quote }}
APP_BASE_URL={{ lookup("tls", application_id, "url.base") }}
BIBER_PASSWORD={{ lookup("users", "biber").password | dotenv_quote }}
BIBER_USERNAME={{ lookup("users", "biber").username | dotenv_quote }}
CANONICAL_DOMAIN={{ lookup('domain', application_id) | dotenv_quote }}
DESIGN_FAVICON_URL={{ (lookup('design', application_id).urls.favicon_ico if lookup('design', application_id).logo is string else '') | dotenv_quote }}
DESIGN_LOGO_URL={{ (lookup('design', application_id).urls.logo.svg if lookup('design', application_id).logo is string else '') | dotenv_quote }}
DESIGN_SERVICE_ENABLED={{ lookup('config', application_id, 'services.design.enabled') | string | lower }}
DESIGN_TITLE={{ (lookup('design', application_id).title if lookup('design', application_id).title is string else '') | dotenv_quote }}
{% if lookup('sso', application_id, 'is_proxy_gated') %}
OIDC_ISSUER_URL={{ OIDC.CLIENT.ISSUER_URL | dotenv_quote }}
{% endif %}
PIHOLE_BASE_URL={{ lookup("tls", application_id, "url.base") }}
