APP_BASE_URL={{ lookup('tls', application_id, 'url.base') | dotenv_quote }}

CANONICAL_DOMAIN={{ lookup('domain', application_id) | dotenv_quote }}

DESIGN_SERVICE_ENABLED={{ lookup('config', application_id, 'services.design.enabled') | string | lower }}

IMPRINT_TITLE={{ (lookup('design', 'web-svc-legal').name if 'web-svc-legal' in group_names else '') | dotenv_quote }}

IMPRINT_URL={{ ((lookup('tls', application_id, 'url.base') ~ 'imprint.html') if 'web-svc-legal' in group_names else '') | dotenv_quote }}

MATOMO_BASE_URL={{ lookup('tls', 'web-app-matomo', 'url.base') | dotenv_quote }}

MATOMO_SERVICE_ENABLED={{ lookup('config', application_id, 'services.matomo.enabled') | string | lower }}
