{% set _oidc_onion_host = lookup('domain', 'web-app-keycloak') %}
{% if (lookup('config', application_id, 'services.sso.enabled') | bool) and (_oidc_onion_host is search('\.onion$')) %}
    extra_hosts:
      - "host.docker.internal:host-gateway"
{% endif %}
