---
production:
  secret_key_base: {{ lookup('config', application_id, 'credentials.secret_key_base') | to_json }}
  otp_key_base: {{ lookup('config', application_id, 'credentials.otp_key_base') | to_json }}
  db_key_base: {{ lookup('config', application_id, 'credentials.db_key_base') | to_json }}
  encrypted_settings_key_base: {{ lookup('config', application_id, 'credentials.encrypted_settings_key_base') | to_json }}
  openid_connect_signing_key: |
{{ lookup('config', application_id, 'credentials.openid_connect_signing_key') | trim | indent(4, true) }}
  active_record_encryption_primary_key:
    - {{ lookup('config', application_id, 'credentials.active_record_encryption_primary_key') | to_json }}
  active_record_encryption_deterministic_key:
    - {{ lookup('config', application_id, 'credentials.active_record_encryption_deterministic_key') | to_json }}
  active_record_encryption_key_derivation_salt: {{ lookup('config', application_id, 'credentials.active_record_encryption_key_derivation_salt') | to_json }}
