.title, .subtitle {
    color: var(--design-primary-950);
}

.is-child {
    background-color: rgba( var(--design-primary-300-rgb), 0.3 );
    color: var(--design-primary-950);
}

.footer{
      background-color: rgba( var(--design-primary-300-rgb), 0.3 );
      color: var(--design-primary-200);
}

.has-background-primary-light{
     background-color: rgba( var(--design-primary-300-rgb), 0.3 ) !important;
}

.has-background-secondary{
     background-color: rgba( var(--design-primary-300-rgb), 0.3 ) !important;
}