location ~* \.(jpg|jpeg|png|gif|webp|ico|svg)$ {
    # Cache in browser
    expires 30d;
    add_header Cache-Control "public, max-age=2592000, immutable";

    # Cache on reverse proxy side
    {{ lookup('proxy_pass', application_id, proxy_service_key | default(application_id | get_entity_name), 'http', tail='plain', local_port=http_port, internal_port=proxy_internal_port | default('')) }}
    proxy_cache imgcache;
    proxy_cache_valid 200 302 60m;
    proxy_cache_valid 404 1m;
    add_header X-Proxy-Cache $upstream_cache_status;

    {% include 'roles/sys-svc-proxy/templates/headers/upstream_strips.conf.j2' %}
}