{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  gitlab:
    image: "{{ GITLAB_CUSTOM_IMAGE }}"
    hostname: '{{ GITLAB_HOSTNAME }}'
    {{ lookup('compose_only', 'container_name', GITLAB_CONTAINER) }}
    {{ lookup('compose_only', 'pull_policy', 'never') }}
    build:
      context: .
      dockerfile: Dockerfile
      args:
        GITLAB_IMAGE: "{{ GITLAB_IMAGE }}"
        GITLAB_VERSION: "{{ GITLAB_VERSION }}"
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.gitlab.ports.local.http') }}:80"
      - "{{lookup('config', application_id, 'services.gitlab.ports.public.ssh')}}:22"
    {{ lookup('container_volumes', application_id, 'gitlab') | indent(4) }}
    shm_size: '256m'
{{ lookup('container_depends_on', application_id) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{{ lookup('compose_volumes', application_id) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
