@layer infinito-design {
  body {
    margin: 0 auto;
    max-width: 40rem;
    padding: var(--design-space-6) var(--design-space-4);
  }

  hr {
    border: 0;
    border-top: 1px solid var(--design-border);
  }
}
