{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  {{ entity_name }}:
    {{ lookup('compose_only', 'container_name', entity_name) }}
    {{ lookup('template', 'roles/sys-svc-container/templates/build.yml.j2') | indent(4) }}
      args:
        ROULETTE_IMAGE:         "{{ ROULETTE_IMAGE }}"
        ROULETTE_VERSION:       "{{ ROULETTE_VERSION }}"
        ROULETTE_WHEEL_APP_REL: "{{ ROULETTE_WHEEL_APP_REL }}"
    {{ lookup('container_image', application_id, 'roulette-wheel', custom=True) }}
    {{ lookup('container_ports', ['roulette-wheel', 'http', DOCKER_BIND_HOST]) | indent(4) }}
    {{ lookup('container_networks') | indent(4) }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}

{{ lookup('compose_volumes', application_id) }}

{{ lookup('compose_networks') }}
