{% set deployed = lookup('objstore_consumers', 'seaweedfs') | select('in', group_names) | list %}
{% set pick = namespace(private='', public='', other='') %}
{% for consumer in deployed %}
{%   if lookup('objstore', consumer, 'public') | bool %}
{%     if not pick.public %}{% set pick.public = consumer %}{% endif %}
{%   elif not pick.private %}
{%     set pick.private = consumer %}
{%   endif %}
{% endfor %}
{% if not pick.private and pick.public %}{% set pick.private = pick.public %}{% endif %}
{% for consumer in deployed %}
{%   if consumer != pick.private and not pick.other %}{% set pick.other = consumer %}{% endif %}
{% endfor %}
SEAWEEDFS_TEST_IS_STACK_HOST={{ IS_STACK_HOST | bool | lower }}
SEAWEEDFS_TEST_LOCAL_URL=http://{{ DOCKER_BIND_HOST }}:{{ SEAWEEDFS_S3_PORT_PUBLIC }}
SEAWEEDFS_TEST_REGION={{ lookup('config', application_id, 'services.seaweedfs.region') }}
SEAWEEDFS_TEST_FILER_PORT={{ SEAWEEDFS_FILER_PORT_INTERNAL }}
SEAWEEDFS_TEST_MASTER_PORT={{ SEAWEEDFS_MASTER_PORT_INTERNAL }}
SEAWEEDFS_TEST_ADMIN_ACCESS_KEY_B64={{ SEAWEEDFS_ADMIN_ACCESS_KEY | b64encode }}
SEAWEEDFS_TEST_ADMIN_SECRET_KEY_B64={{ SEAWEEDFS_ADMIN_SECRET_KEY | b64encode }}
SEAWEEDFS_TEST_PRIMARY_BUCKET={{ (lookup('objstore', pick.private, 'bucket') if pick.private else '') }}
SEAWEEDFS_TEST_PRIMARY_IS_PUBLIC={{ (lookup('objstore', pick.private, 'public') if pick.private else false) | bool | lower }}
SEAWEEDFS_TEST_PRIMARY_ACCESS_KEY_B64={{ (lookup('objstore', pick.private, 'access_key') if pick.private else '') | b64encode }}
SEAWEEDFS_TEST_PRIMARY_SECRET_KEY_B64={{ (lookup('objstore', pick.private, 'secret_key') if pick.private else '') | b64encode }}
SEAWEEDFS_TEST_OTHER_BUCKET={{ (lookup('objstore', pick.other, 'bucket') if pick.other else '') }}
SEAWEEDFS_TEST_PUBLIC_BUCKET={{ (lookup('objstore', pick.public, 'bucket') if pick.public else '') }}
SEAWEEDFS_TEST_PUBLIC_ACCESS_KEY_B64={{ (lookup('objstore', pick.public, 'access_key') if pick.public else '') | b64encode }}
SEAWEEDFS_TEST_PUBLIC_SECRET_KEY_B64={{ (lookup('objstore', pick.public, 'secret_key') if pick.public else '') | b64encode }}
