LMSTUDIO_CONTAINER={{ CLI_LOCAL_CID }}
LMSTUDIO_EXPECTED_BLOBS='{{ LMSTUDIO_PRELOAD_MODELS | map(attribute='repo') | zip(LMSTUDIO_PRELOAD_MODELS | map(attribute='file')) | map('join', '/') | list | to_json }}'
LMSTUDIO_EXPECTED_DIGESTS='{{ LMSTUDIO_PRELOAD_MODELS | map(attribute='sha256') | list | to_json }}'
LMSTUDIO_EXPECTED_MODELS='{{ LMSTUDIO_PRELOAD_MODELS | map(attribute='name') | list | to_json }}'
LMSTUDIO_MODELS_DIR={{ LMSTUDIO_MODELS_TARGET }}
LMSTUDIO_PORT={{ LMSTUDIO_PORT }}
