{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  {{ ERPNEXT_CONFIGURATOR_CONTAINER }}:
    image: "{{ ERPNEXT_IMAGE }}:{{ ERPNEXT_VERSION }}"
    {{ lookup('compose_only', 'container_name', ERPNEXT_CONFIGURATOR_CONTAINER) }}
{% set docker_restart_policy = 'no' %}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    entrypoint:
      - bash
      - -c
    command:
      - >
        ls -1 apps > sites/apps.txt;
        bench set-config -g db_host "{{ ERPNEXT_DB_HOST }}";
        bench set-config -gp db_port {{ ERPNEXT_DB_PORT }};
        bench set-config -g redis_cache    "redis://{{ ERPNEXT_REDIS_HOST }}:{{ ERPNEXT_REDIS_PORT }}/0";
        bench set-config -g redis_queue    "redis://{{ ERPNEXT_REDIS_HOST }}:{{ ERPNEXT_REDIS_PORT }}/1";
        bench set-config -g redis_socketio "redis://{{ ERPNEXT_REDIS_HOST }}:{{ ERPNEXT_REDIS_PORT }}/2";
        bench set-config -gp socketio_port {{ ERPNEXT_WEBSOCKET_PORT }};
        bench set-config -g host_name "{{ lookup('tls', application_id, 'url.base') | regex_replace('/+$', '') }}";
    {{ lookup('container_volumes', application_id, ERPNEXT_CONFIGURATOR_CONTAINER) | indent(4) }}
{{ lookup('container_depends_on', application_id) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  {{ ERPNEXT_BACKEND_CONTAINER }}:
    image: "{{ ERPNEXT_IMAGE }}:{{ ERPNEXT_VERSION }}"
    {{ lookup('compose_only', 'container_name', ERPNEXT_BACKEND_CONTAINER) }}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('depends_on', {ERPNEXT_CONFIGURATOR_CONTAINER: 'service_completed_successfully'}) }}
    {{ lookup('container_volumes', application_id, ERPNEXT_BACKEND_CONTAINER) | indent(4) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  {{ ERPNEXT_WEBSOCKET_CONTAINER }}:
    image: "{{ ERPNEXT_IMAGE }}:{{ ERPNEXT_VERSION }}"
    {{ lookup('compose_only', 'container_name', ERPNEXT_WEBSOCKET_CONTAINER) }}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: ["node", "/home/frappe/frappe-bench/apps/frappe/socketio.js"]
    {{ lookup('depends_on', {ERPNEXT_CONFIGURATOR_CONTAINER: 'service_completed_successfully'}) }}
    {{ lookup('container_volumes', application_id, ERPNEXT_WEBSOCKET_CONTAINER) | indent(4) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  {{ ERPNEXT_SCHEDULER_CONTAINER }}:
    image: "{{ ERPNEXT_IMAGE }}:{{ ERPNEXT_VERSION }}"
    {{ lookup('compose_only', 'container_name', ERPNEXT_SCHEDULER_CONTAINER) }}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: ["bench", "schedule"]
    {{ lookup('depends_on', {ERPNEXT_BACKEND_CONTAINER: 'service_started'}) }}
    {{ lookup('container_volumes', application_id, ERPNEXT_SCHEDULER_CONTAINER) | indent(4) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  {{ ERPNEXT_QUEUE_SHORT_CONTAINER }}:
    image: "{{ ERPNEXT_IMAGE }}:{{ ERPNEXT_VERSION }}"
    {{ lookup('compose_only', 'container_name', ERPNEXT_QUEUE_SHORT_CONTAINER) }}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: ["bench", "worker", "--queue", "short,default"]
    {{ lookup('depends_on', {ERPNEXT_BACKEND_CONTAINER: 'service_started'}) }}
    {{ lookup('container_volumes', application_id, ERPNEXT_QUEUE_SHORT_CONTAINER) | indent(4) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  {{ ERPNEXT_QUEUE_LONG_CONTAINER }}:
    image: "{{ ERPNEXT_IMAGE }}:{{ ERPNEXT_VERSION }}"
    {{ lookup('compose_only', 'container_name', ERPNEXT_QUEUE_LONG_CONTAINER) }}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: ["bench", "worker", "--queue", "long,default,short"]
    {{ lookup('depends_on', {ERPNEXT_BACKEND_CONTAINER: 'service_started'}) }}
    {{ lookup('container_volumes', application_id, ERPNEXT_QUEUE_LONG_CONTAINER) | indent(4) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  {{ ERPNEXT_FRONTEND_CONTAINER }}:
    image: "{{ ERPNEXT_IMAGE }}:{{ ERPNEXT_VERSION }}"
    {{ lookup('compose_only', 'container_name', ERPNEXT_FRONTEND_CONTAINER) }}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: ["nginx-entrypoint.sh"]
    {{ lookup('depends_on', {ERPNEXT_BACKEND_CONTAINER: 'service_started', ERPNEXT_WEBSOCKET_CONTAINER: 'service_started'}) }}
    environment:
      BACKEND: "{{ ERPNEXT_BACKEND_CONTAINER }}:{{ ERPNEXT_BACKEND_PORT }}"
      SOCKETIO: "{{ ERPNEXT_WEBSOCKET_CONTAINER }}:{{ ERPNEXT_WEBSOCKET_PORT }}"
      FRAPPE_SITE_NAME_HEADER: "{{ ERPNEXT_SITE_NAME }}"
      UPSTREAM_REAL_IP_ADDRESS: "172.16.0.0/12"
      UPSTREAM_REAL_IP_HEADER: "X-Forwarded-For"
      UPSTREAM_REAL_IP_RECURSIVE: "on"
      PROXY_READ_TIMEOUT: "120"
      CLIENT_MAX_BODY_SIZE: "50m"
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.erpnext.ports.local.http') }}:{{ ERPNEXT_FRONTEND_PORT }}"
      - "{{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.erpnext.ports.local.websocket') }}:{{ ERPNEXT_WEBSOCKET_PORT }}"
    {{ lookup('container_volumes', application_id, ERPNEXT_FRONTEND_CONTAINER) | indent(4) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{{ lookup('compose_volumes', application_id) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
