{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  {% set service_name = 'postgres' %}
  {{ service_name }}:
    {{ lookup('compose_only', 'container_name', POSTGRES_CONTAINER) }}
    {{ lookup('container_image', application_id, 'postgres') }}
    {{ lookup('template', 'roles/sys-svc-container/templates/build.yml.j2') | indent(4) }}
    command:
      - "postgres"
      - "-c"
      - "max_connections={{ POSTGRES_MAX_CONNECTIONS }}"
      - "-c"
      - "superuser_reserved_connections={{ POSTGRES_SUPERUSER_RESERVED_CONNECTIONS }}"
      - "-c"
      - "shared_buffers={{ POSTGRES_SHARED_BUFFERS }}"
      - "-c"
      - "work_mem={{ POSTGRES_WORK_MEM }}"
      - "-c"
      - "maintenance_work_mem={{ POSTGRES_MAINTENANCE_WORK_MEM }}"

    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {% if POSTGRES_EXPOSE_LOCAL %}
    {{ lookup('container_ports', ['postgres', 'postgres', DOCKER_BIND_HOST]) | indent(4) }}
    {% endif %}
    {{ lookup('container_volumes', application_id, 'postgres') | indent(4) }}
    {{ lookup('container_networks') | indent(4) }}

{{ lookup('compose_volumes', application_id) }}
{{ lookup('compose_networks') }}
