TOR_ENABLED={{ lookup('config', application_id, 'services.tor.enabled') | bool | lower }}
TOR_SOCKS={{ lookup('tor_socks') }}
ONION_HOST={{ lookup('config', 'svc-net-tor', 'services.tor.node') }}
DB_PORT={{ POSTGRES_PORT }}
DB_CONTAINER={{ POSTGRES_CONTAINER }}
DB_USER=postgres
DB_NAME=postgres
DB_PASSWORD_B64={{ POSTGRES_PASSWORD | b64encode }}
