:root {
    --light:                  var(--color-01-05);
    --dark:                   var(--color-01-99);
    
    --body-bg:                var(--color-01-05);
    --nav-bg:                 var(--color-01-05);
    
    --body-color:             var(--color-01-70);
    --text-lighter:           var(--color-01-60);
    
    --bg-light:               var(--color-01-95);
    --card-bg:                var(--color-01-90);
    --light-gray:             var(--color-01-75);
    --light-hover-bg:         var(--color-01-85);
    
    --btn-light-border:       var(--color-01-10);
    --input-border:           var(--color-01-10);
    --border-color:           var(--color-01-85);
    
    --comment-bg:             var(--color-01-85);
    --card-header-accent:     var(--color-01-85);
    
    --dropdown-item-hover-bg:       var(--color-01-05);
    --dropdown-item-hover-color:    var(--color-01-60);
    --dropdown-item-color:          var(--color-01-70);
    --dropdown-item-active-color:   var(--color-01-99);
}

div.page-wrapper{
    background: none;
    background-color: none;
}

.card-header-title {
    color: var(--color-01-37);
}
