:root {
    --light:                  var(--design-text);
    --dark:                   var(--design-surface-2);
    
    --body-bg:                var(--design-text);
    --nav-bg:                 var(--design-text);
    
    --body-color:             var(--design-primary-400);
    --text-lighter:           var(--design-primary-500);
    
    --bg-light:               var(--design-primary-100);
    --card-bg:                var(--design-primary-200);
    --light-gray:             var(--design-primary-400);
    --light-hover-bg:         var(--design-primary-200);
    
    --btn-light-border:       var(--design-primary-950);
    --input-border:           var(--design-primary-950);
    --border-color:           var(--design-primary-200);
    
    --comment-bg:             var(--design-primary-200);
    --card-header-accent:     var(--design-primary-200);
    
    --dropdown-item-hover-bg:       var(--design-text);
    --dropdown-item-hover-color:    var(--design-primary-500);
    --dropdown-item-color:          var(--design-primary-400);
    --dropdown-item-active-color:   var(--design-surface-2);
}

div.page-wrapper{
    background: none;
    background-color: none;
}

.card-header-title {
    color: var(--design-primary-800);
}
