<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ LITTLEJS_TITLE }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link
            href="{{ lookup('asset', application_id, 'bootstrap', 'dist/css/bootstrap.min.css') }}"
            rel="stylesheet"
            crossorigin="anonymous"
        />

        <link
            rel="stylesheet"
            href="{{ lookup('asset', application_id, '@fortawesome/fontawesome-free', 'css/all.min.css') }}"
            crossorigin="anonymous"
        />
    </head>

    <body>
    {% include "nav/top.html.j2" %}

    {% include "main.html.j2" %}

    {% include "nav/bottom.html.j2" %}
    </body>
    <script src="{{ lookup('asset', application_id, 'bootstrap', 'dist/js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>
</html>