x-op-app: &app
  logging:
    driver: journald
  {{ lookup('container_image', application_id, 'web') }}
  {{ lookup('template', 'roles/sys-svc-container/templates/build.yml.j2') | indent(2) }}
    args:
      OPENPROJECT_IMAGE:   "{{ OPENPROJECT_IMAGE }}"
      OPENPROJECT_VERSION: "{{ OPENPROJECT_VERSION }}"

{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  {% set service_name = 'cache' %}
  {{ service_name }}:
    {{ lookup('container_image', 'svc-db-memcached', 'memcached') }}
    {{ lookup('compose_only', 'container_name', OPENPROJECT_CACHE_CONTAINER) }}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}

  {% set service_name = 'proxy' %}
  {{ service_name }}:
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_image', application_id, 'proxy', version=OPENPROJECT_VERSION) }}
    {{ lookup('compose_only', 'container_name', OPENPROJECT_PROXY_CONTAINER) }}
    {{ lookup('compose_only', 'pull_policy', 'never') }}
    command: "./docker/prod/proxy"
    {{ lookup('container_ports', ['openproject', 'http', DOCKER_BIND_HOST]) | indent(4) }}
    environment:
      APP_HOST: {{ OPENPROJECT_WEB_SERVICE }}
    {{ lookup('depends_on', [OPENPROJECT_WEB_SERVICE]) }}
    {{ lookup('container_volumes', application_id, 'proxy') | indent(4) }}

  {% set service_name = OPENPROJECT_WEB_SERVICE %}
  {% set container_healthcheck = 'health_checks/default' %}
  {{ service_name }}:
    <<: *app
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: "./docker/prod/web"
    {{ lookup('compose_only', 'container_name', OPENPROJECT_WEB_CONTAINER) }}
    {{ lookup('container_networks') | indent(4) }}
    {{ lookup('container_depends_on', application_id, extra={
  'cache': {'condition': 'service_started'},
  OPENPROJECT_SEEDER_SERVICE: {'condition': 'service_started'},
}) | indent(4) }}
    {% include 'roles/sys-svc-container/templates/healthcheck/curl.yml.j2' %}
    {{ lookup('container_volumes', application_id, OPENPROJECT_WEB_SERVICE) | indent(4) }}

  {% set service_name = 'worker' %}
  {{ service_name }}:
    <<: *app
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: "./docker/prod/worker"
    {{ lookup('compose_only', 'container_name', OPENPROJECT_WORKER_CONTAINER) }}
    {{ lookup('container_networks') | indent(4) }}
    {{ lookup('container_depends_on', application_id, extra={
  'cache': {'condition': 'service_started'},
  OPENPROJECT_SEEDER_SERVICE: {'condition': 'service_started'},
}) | indent(4) }}
    {{ lookup('container_volumes', application_id, 'worker') | indent(4) }}

  {% set service_name = 'cron' %}
  {{ service_name }}:
    <<: *app
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: "./docker/prod/cron"
    {{ lookup('compose_only', 'container_name', OPENPROJECT_CRON_CONTAINER) }}
    {{ lookup('container_networks') | indent(4) }}
    {{ lookup('container_depends_on', application_id, extra={
  'cache': {'condition': 'service_started'},
  OPENPROJECT_SEEDER_SERVICE: {'condition': 'service_started'},
}) | indent(4) }}
    {{ lookup('container_volumes', application_id, 'cron') | indent(4) }}

  {% set service_name = OPENPROJECT_SEEDER_SERVICE %}
  {% set docker_restart_policy = 'on-failure' %}
  {{ service_name }}:
    <<: *app
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: "./docker/prod/seeder"
    {{ lookup('compose_only', 'container_name', OPENPROJECT_SEEDER_CONTAINER) }}
    {{ lookup('container_networks') | indent(4) }}
    {{ lookup('container_volumes', application_id, OPENPROJECT_SEEDER_SERVICE) | indent(4) }}

{{ lookup('compose_volumes', application_id) }}
{{ lookup('compose_networks') }}
