x-op-app: &app
  logging:
    driver: journald
  image: {{ OPENPROJECT_CUSTOM_IMAGE }}
  {{ lookup('template', 'roles/sys-svc-container/templates/build.yml.j2') | indent(2) }}
    args:
      OPENPROJECT_IMAGE:   "{{ OPENPROJECT_IMAGE }}"
      OPENPROJECT_VERSION: "{{ OPENPROJECT_VERSION }}"

{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  cache:
{% set service_name = 'cache' %}
    image: "{{ OPENPROJECT_CACHE_IMAGE}}:{{ OPENPROJECT_CACHE_VERSION }}"
    {{ lookup('compose_only', 'container_name', OPENPROJECT_CACHE_CONTAINER) }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}

  proxy:
{% set service_name = 'proxy' %}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    image: {{ OPENPROJECT_CUSTOM_IMAGE }}
    {{ lookup('compose_only', 'container_name', OPENPROJECT_PROXY_CONTAINER) }}
    {{ lookup('compose_only', 'pull_policy', 'never') }}
    command: "./docker/prod/proxy"
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.openproject.ports.local.http') }}:80"
    environment:
      APP_HOST: {{ OPENPROJECT_WEB_SERVICE }}
    {{ lookup('depends_on', [OPENPROJECT_WEB_SERVICE]) }}
    {{ lookup('container_volumes', application_id, 'proxy') | indent(4) }}

  {{ OPENPROJECT_WEB_SERVICE }}:
    <<: *app
{% set service_name = OPENPROJECT_WEB_SERVICE %}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: "./docker/prod/web"
    {{ lookup('compose_only', 'container_name', OPENPROJECT_WEB_CONTAINER) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
{{ lookup('container_depends_on', application_id, extra={
  'cache': {'condition': 'service_started'},
  OPENPROJECT_SEEDER_SERVICE: {'condition': 'service_started'},
}) }}
{% set container_port = 8080 %}
{% set container_healthcheck = 'health_checks/default' %}
{% include 'roles/sys-svc-container/templates/healthcheck/curl.yml.j2' %}
    {{ lookup('container_volumes', application_id, OPENPROJECT_WEB_SERVICE) | indent(4) }}

{% set service_name = 'worker' %}
  worker:
    <<: *app
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: "./docker/prod/worker"
    {{ lookup('compose_only', 'container_name', OPENPROJECT_WORKER_CONTAINER) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
{{ lookup('container_depends_on', application_id, extra={
  'cache': {'condition': 'service_started'},
  OPENPROJECT_SEEDER_SERVICE: {'condition': 'service_started'},
}) }}
    {{ lookup('container_volumes', application_id, 'worker') | indent(4) }}

  cron:
    <<: *app
{% set service_name = 'cron' %}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: "./docker/prod/cron"
    {{ lookup('compose_only', 'container_name', OPENPROJECT_CRON_CONTAINER) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
{{ lookup('container_depends_on', application_id, extra={
  'cache': {'condition': 'service_started'},
  OPENPROJECT_SEEDER_SERVICE: {'condition': 'service_started'},
}) }}
    {{ lookup('container_volumes', application_id, 'cron') | indent(4) }}

  {{ OPENPROJECT_SEEDER_SERVICE }}:
    <<: *app
{% set service_name = OPENPROJECT_SEEDER_SERVICE %}
{% set docker_restart_policy = 'on-failure' %}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: "./docker/prod/seeder"
    {{ lookup('compose_only', 'container_name', OPENPROJECT_SEEDER_CONTAINER) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
    {{ lookup('container_volumes', application_id, OPENPROJECT_SEEDER_SERVICE) | indent(4) }}

{{ lookup('compose_volumes', application_id) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
