header.op-app-header{
    background-color: var(--design-primary-800);
    background: linear-gradient(135deg, var(--design-primary-800), var(--design-primary-800), var(--design-primary-800), var(--design-primary-700));
    color: var(--design-primary-800);
}

div#wrapper button, div#wrapper input, button.top-menu-search-button, div.menu-sidebar a{
    background-color: transparent;
}
