display_errors = Off
display_startup_errors = Off
log_errors = On
error_reporting = E_ALL & ~E_DEPRECATED & ~E_USER_DEPRECATED

session.save_handler = files
session.save_path = "{{ SUITECRM_APP_DIR }}/tmp"
