display_errors = Off
display_startup_errors = Off
log_errors = On
error_reporting = E_ALL & ~E_DEPRECATED & ~E_USER_DEPRECATED

session.save_handler = redis
session.save_path = ${SUITECRM_SESSION_SAVE_PATH}
redis.session.locking_enabled = 1
redis.session.lock_retries = -1
