{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  litellm:
{% set service_name = 'litellm' %}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_image', application_id, 'litellm') }}
    {{ lookup('compose_only', 'container_name', FLOWISE_LITELLM_CONTAINER) }}
    expose:
      - {{ FLOWISE_LITELLM_PORT }}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
    command: >
      --host 0.0.0.0
      --port {{ FLOWISE_LITELLM_PORT }}
      --config {{ FLOWISE_LITELLM_CONFIG_PATH_DOCKER }}
    {{ lookup('container_networks') | indent(4) }}

{% if lookup('engine', 'qdrant', application_id, 'local') %}
  qdrant:
{% set service_name = 'qdrant' %}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_image', application_id, 'qdrant') }}
    {{ lookup('compose_only', 'container_name', FLOWISE_QDRANT_CONTAINER) }}
    ports:
      - {{ FLOWISE_QDRANT_HTTP_PORT }}
      - {{ FLOWISE_QDRANT_GRPC_PORT }}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
    {{ lookup('container_networks') | indent(4) }}
{% endif %}

  flowise:
{% set service_name = 'flowise' %}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_image', application_id, 'flowise') }}
    {{ lookup('compose_only', 'container_name', FLOWISE_CONTAINER) }}
    {{ lookup('depends_on', (['qdrant'] if lookup('engine', 'qdrant', application_id, 'local') else []) + ['litellm']) }}
    {{ lookup('container_ports', ['flowise', 'http', DOCKER_BIND_HOST]) | indent(4) }}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
    {{ lookup('container_networks') | indent(4) }}

{{ lookup('compose_networks') }}

{{ lookup('compose_volumes', application_id) }}
