{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  litellm:
{% set service_name = 'litellm' %}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    image: {{ FLOWISE_LITELLM_IMAGE }}:{{ FLOWISE_LITELLM_VERSION }}
    {{ lookup('compose_only', 'container_name', FLOWISE_LITELLM_CONTAINER) }}
    expose:
      - {{ FLOWISE_LITELLM_PORT }}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
    command: >
      --host 0.0.0.0
      --port {{ FLOWISE_LITELLM_PORT }}
      --config {{ FLOWISE_LITELLM_CONFIG_PATH_DOCKER }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  qdrant:
{% set service_name = 'qdrant' %}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    image: {{ FLOWISE_QDRANT_IMAGE }}:{{ FLOWISE_QDRANT_VERSION }}
    {{ lookup('compose_only', 'container_name', FLOWISE_QDRANT_CONTAINER) }}
    ports:
      - {{ FLOWISE_QDRANT_HTTP_PORT }}
      - {{ FLOWISE_QDRANT_GRPC_PORT }}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  flowise:
{% set service_name = 'flowise' %}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    image: {{ FLOWISE_IMAGE }}:{{ FLOWISE_VERSION }}
    {{ lookup('compose_only', 'container_name', FLOWISE_CONTAINER) }}
    {{ lookup('depends_on', ['qdrant', 'litellm']) }}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ FLOWISE_PORT_PUBLIC }}:{{ FLOWISE_PORT_INTERNAL }}"
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}

{{ lookup('compose_volumes', application_id) }}
