{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  {% set service_name = 'litellm' %}
  {{ service_name }}:
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_image', application_id, 'litellm') }}
    {{ lookup('compose_only', 'container_name', FLOWISE_LITELLM_CONTAINER) }}
    expose:
      - {{ FLOWISE_LITELLM_PORT }}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
    command: >
      --host 0.0.0.0
      --port {{ FLOWISE_LITELLM_PORT }}
      --config {{ FLOWISE_LITELLM_CONFIG_PATH_DOCKER }}
    {{ lookup('container_networks') | indent(4) }}

  {% set service_name = 'flowise' %}
  {{ service_name }}:
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    {{ lookup('container_image', application_id, 'flowise') }}
    {{ lookup('compose_only', 'container_name', FLOWISE_CONTAINER) }}
    {{ lookup('container_depends_on', application_id, extra={
  'litellm': {'condition': 'service_started'},
}) | indent(4) }}
    {{ lookup('container_ports', ['flowise', 'http', DOCKER_BIND_HOST]) | indent(4) }}
    {{ lookup('container_volumes', application_id, service_name) | indent(4) }}
    {{ lookup('container_networks') | indent(4) }}

{{ lookup('compose_networks') }}

{{ lookup('compose_volumes', application_id) }}
