{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  {{ ZAMMAD_INIT_CONTAINER }}:
    image: "{{ ZAMMAD_IMAGE }}:{{ ZAMMAD_VERSION }}"
    {{ lookup('compose_only', 'container_name', ZAMMAD_INIT_CONTAINER) }}
{% set docker_restart_policy = 'on-failure' %}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: ["zammad-init"]
    {{ lookup('container_volumes', application_id, ZAMMAD_INIT_CONTAINER, extra_volumes=[
        'zammad_storage:/opt/zammad/storage',
        ZAMMAD_TELEGRAM_HELPER_HOST_PATH ~ ':' ~ ZAMMAD_TELEGRAM_HELPER_CONTAINER_PATH ~ ':ro',
    ]) | indent(4) }}
{{ lookup('container_depends_on', application_id) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  {{ ZAMMAD_RAILS_CONTAINER }}:
    image: "{{ ZAMMAD_IMAGE }}:{{ ZAMMAD_VERSION }}"
    {{ lookup('compose_only', 'container_name', ZAMMAD_RAILS_CONTAINER) }}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: ["zammad-railsserver"]
    {{ lookup('depends_on', {ZAMMAD_INIT_CONTAINER: 'service_completed_successfully'}, indent=4) }}
{% set _rails_extra_volumes = [
    'zammad_storage:/opt/zammad/storage',
    ZAMMAD_OMNIAUTH_INIT_HOST_PATH ~ ':' ~ ZAMMAD_OMNIAUTH_INIT_CONTAINER_PATH ~ ':ro',
    ZAMMAD_TELEGRAM_HELPER_HOST_PATH ~ ':' ~ ZAMMAD_TELEGRAM_HELPER_CONTAINER_PATH ~ ':ro',
] %}
{% if ZAMMAD_OIDC_ENABLED %}
{%   set _ = _rails_extra_volumes.append(ZAMMAD_OIDC_GROUP_ROLE_MAP_HOST_PATH ~ ':' ~ ZAMMAD_OIDC_GROUP_ROLE_MAP_CONTAINER_PATH ~ ':ro') %}
{% endif %}
    {{ lookup('container_volumes', application_id, ZAMMAD_RAILS_CONTAINER, extra_volumes=_rails_extra_volumes) | indent(4) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  {{ ZAMMAD_WEBSOCKET_CONTAINER }}:
    image: "{{ ZAMMAD_IMAGE }}:{{ ZAMMAD_VERSION }}"
    {{ lookup('compose_only', 'container_name', ZAMMAD_WEBSOCKET_CONTAINER) }}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: ["zammad-websocket"]
    {{ lookup('depends_on', {ZAMMAD_RAILS_CONTAINER: 'service_started'}, indent=4) }}
    {{ lookup('container_volumes', application_id, ZAMMAD_WEBSOCKET_CONTAINER) | indent(4) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  {{ ZAMMAD_SCHEDULER_CONTAINER }}:
    image: "{{ ZAMMAD_IMAGE }}:{{ ZAMMAD_VERSION }}"
    {{ lookup('compose_only', 'container_name', ZAMMAD_SCHEDULER_CONTAINER) }}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: ["zammad-scheduler"]
    {{ lookup('depends_on', {ZAMMAD_RAILS_CONTAINER: 'service_started'}, indent=4) }}
    {{ lookup('container_volumes', application_id, ZAMMAD_SCHEDULER_CONTAINER) | indent(4) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  {{ ZAMMAD_SEARCH_CONTAINER }}:
    image: "{{ ZAMMAD_SEARCH_IMAGE }}:{{ ZAMMAD_SEARCH_VERSION }}"
    {{ lookup('compose_only', 'container_name', ZAMMAD_SEARCH_CONTAINER) }}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    {{ lookup('container_volumes', application_id, ZAMMAD_SEARCH_CONTAINER) | indent(4) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  {{ ZAMMAD_MEMCACHED_CONTAINER }}:
    image: "{{ ZAMMAD_MEMCACHED_IMAGE }}:{{ ZAMMAD_MEMCACHED_VERSION }}"
    {{ lookup('compose_only', 'container_name', ZAMMAD_MEMCACHED_CONTAINER) }}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    command: ["memcached", "-m", "256"]
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  {{ ZAMMAD_NGINX_CONTAINER }}:
    image: "{{ ZAMMAD_IMAGE }}:{{ ZAMMAD_VERSION }}"
    {{ lookup('compose_only', 'container_name', ZAMMAD_NGINX_CONTAINER) }}
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    # Upstream `grep "nameserver"` substring-matches Docker's `# Overrides:` comment lines, breaking the resolver directive.
    command:
      - sh
      - -c
      - |
        cp /docker-entrypoint.sh /tmp/entrypoint-patched.sh
        sed -i 's|grep "nameserver" < /etc/resolv.conf|grep -E "^nameserver" /etc/resolv.conf|' /tmp/entrypoint-patched.sh
        exec /tmp/entrypoint-patched.sh zammad-nginx
    {{ lookup('depends_on', {ZAMMAD_RAILS_CONTAINER: 'service_started', ZAMMAD_WEBSOCKET_CONTAINER: 'service_started'}, indent=4) }}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.zammad.ports.local.http') }}:8080"
    {{ lookup('container_volumes', application_id, ZAMMAD_NGINX_CONTAINER) | indent(4) }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{{ lookup('compose_volumes', application_id) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
