TOR_ENABLED={{ lookup('config', application_id, 'services.tor.enabled') | bool | lower }}
TOR_SOCKS={{ lookup('tor_socks') }}
ONION_HOST={{ lookup('config', 'svc-net-tor', 'services.tor.node') }}
DB_PORT={{ MARIADB_PORT }}
DB_CONTAINER={{ MARIADB_NAME }}
DB_USER=root
DB_PASSWORD_B64={{ MARIADB_ROOT_PWD | b64encode }}
